$def with (id, plen, psets, pdict, phist, prenew, pattempts, pautorecover) 
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Password policy</title>
<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<header>
</header>

<section>


<form name="input" method="post" action="http://localhost:8080/add">
<p>
<label class="qn id"><b>ID:</b></label> 
	
	$if id:
		<input type="text" value=$:id name="id" id = "pswdid" placeholder="ID">
	$else:
		<input type="text" name="id" id = "pswdid" placeholder="ID">
</p>
<p>
<label class="qn plen"><b>Password length (value of the shortest permitted password):</b></label>         
			<br/><br/>
	
		  <input type = "radio"
                 name = "plen"
                 id = "len0"
                 value = "0"
                 checked = "checked" />
          <label for = "len0">none</label>
			<br/>
          <input type = "radio"
                 name = "plen"
                 id = "len6"
                 value = "6" />
          <label for = "len6">minimum 6 charachters</label>
			<br/>
           <input type = "radio"
                 name = "plen"
                 id = "len8"
                 value = "8" />
          <label for = "len8">minimum 8 charachters</label>
			<br/>
			 <input type = "radio"
                 name = "plen"
                 id = "len10"
                 value = "10" />
          <label for = "len10">minimum 10 charachters</label>
			<br/>
			 <input type = "radio"
                 name = "plen"
                 id = "len12"
                 value = "12" />
          <label for = "len12">minimum 12 charachters</label>
			<br/>
</p>
<p>
<label class="qn psets"><b>Number of symbol sets that must be used in password:</b></label>         
			<br/><br/>
		  <input type = "radio"
                 name = "psets"
                 id = "sets1"
                 value = "1"
                 checked = "checked" />
          <label for = "sets1">any</label>
			<br/>
          <input type = "radio"
                 name = "psets"
                 id = "sets2"
                 value = "2" />
          <label for = "sets2">at least 2</label>
			<br/>
          <input type = "radio"
                 name = "psets"
                 id = "sets3"
                 value = "3" />
          <label for = "sets2">at least 3</label>
			<br/>
			  <input type = "radio"
                 name = "psets"
                 id = "sets4"
                 value = "4" />
          <label for = "sets4">at least 4</label>
			<br/>
</p>
<p>
			<input type='hidden' value='0' name='pdict'> <!-- method for posting unchecked checkboxes-->
            <input type = "checkbox"
					name = "pdict"
					id = "dic"
					value = "1" />
             <label for = "pdic"><b>Passwords are checked whether they match a dictionary</b></label>
</p>
<p>
		<label class="qn phist"><b>History check of password:</b></label>         
			<br/><br/>
		  <input type = "radio"
                 name = "phist"
                 id = "hist1"
                 value = "0"
                 checked = "checked" />
          <label for = "hist1">none</label>
			<br/>
          <input type = "radio"
                 name = "phist"
                 id = "hist2"
                 value = "1" />
          <label for = "hist2">minimum check (1 past password, exact match) </label>
			<br/>
          <input type = "radio"
                 name = "phist"
                 id = "hist3"
                 value = "2" />
          <label for = "hist3">strict check (2 past passwords, string distance of 2) </label>
			<br/>
			  <input type = "radio"
                 name = "phist"
                 id = "hist4"
                 value = "3" />
          <label for = "hist4">extreme check (4 past passwords, string distance of 5)</label>
			<br/><br/>
		* string distance: how many letters are needed to be changed to obtain the same password
</p>
<p>
<label class="qn prenew"><b>When the system asks user to renew passwords:</b></label>         
			<br/><br/>
		  <input type = "radio"
                 name = "prenew"
                 id = "renew1"
                 value = "0"
                 checked = "checked" />
          <label for = "renew1">never renew the password</label>
			<br/>
          <input type = "radio"
                 name = "prenew"
                 id = "renew2"
                 value = "1" />
          <label for = "renew2">annual renewal</label>
			<br/>
          <input type = "radio"
                 name = "prenew"
                 id = "renew3"
                 value = "2" />
          <label for = "renew3">renew quarterly</label>
			<br/>
			  <input type = "radio"
                 name = "prenew"
                 id = "renew4"
                 value = "3" />
          <label for = "renew4">renew monthly</label>
			<br/>
</p>
<p>          <input type='hidden' value='0' name='pattempts'> <!-- method for posting unchecked checkboxes--> 
             <input type = "checkbox"
					name = "pattempts"
					id = "attempts"
					value = "1" />
             <label for = "pattempts"><b>Limit wrong password attempts</b></label>
</p>
<p>
<p>
			<input type='hidden' value='0' name='pautorecover'> <!-- method for posting unchecked checkboxes-->
            <input type = "checkbox"
					name = "pautorecover"
					id = "autorecover"
					value = "1" />
            <label for = "autorecover"><b>Forgotten passwords are restored automatically (no human support)</b></label>
</p>


<input id="confirm" name="pconfirm" type="submit" value="Confirm">
</form>
</section>

<aside>
</aside>

<footer> <div id="myDiv"> </div></footer>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
/*wait until document is loaded*/
jQuery(document).ready(function(){      
	/*ID is preset inside HTML code*/
		console.log("found id $:id");
		
	/*preset password (pswd) length value*/
	if ($:plen==jQuery("#len0").val()){
		console.log("found plen 0");
		jQuery("#len0").prop('checked', true);
	}else if ($:plen==jQuery("#len6").val()){
		console.log("found plen 6");
		jQuery("#len6").prop('checked', true);
	}else if ($:plen==jQuery("#len8").val()){
		console.log("found plen 8");
		jQuery("#len8").prop('checked', true);
	}else if ($:plen==jQuery("#len10").val()){
		console.log("found plen 10");
		jQuery("#len10").prop('checked', true);
	}else if ($:plen==jQuery("#len12").val()){
		console.log("found plen 12");
		jQuery("#len12").prop('checked', true);
	}
	
	/*preset pswd sets value*/
	if ($:psets==jQuery("#sets1").val()){
		console.log("found sets any");
		jQuery("#sets1").prop('checked', true);
	}else if ($:psets==jQuery("#sets2").val()){
		console.log("found sets 2");
		jQuery("#sets2").prop('checked', true);
	}else if ($:psets==jQuery("#sets3").val()){
		console.log("found sets 3");
		jQuery("#sets3").prop('checked', true);
	}else if ($:psets==jQuery("#sets4").val()){
		console.log("found sets 4");
		jQuery("#sets4").prop('checked', true);
	}
	
	/*preset pswd dictionary value*/
	if ($:pdict==jQuery("#dic").val()){
		console.log("found use dict");
		jQuery("#dic").prop('checked', true);
	}
	
	/*preset pswd history check
	none: 0
	simple: 1
	strict: 2
	extreme: 3
	*/
	if ($:phist==jQuery("#hist1").val()){
		console.log("found phist none");
		jQuery("#hist1").prop('checked', true);
	}else if ($:phist==jQuery("#hist2").val()){
		console.log("found phist simple");
		jQuery("#hist2").prop('checked', true);
	}else if ($:phist==jQuery("#hist3").val()){
		console.log("found phist strict");
		jQuery("#hist3").prop('checked', true);
	}else if ($:phist==jQuery("#hist4").val()){
		console.log("found phist extreme");
		jQuery("#hist4").prop('checked', true);
	}
	
	/*preset pswd renewal period check
	never: 0
	annual: 1
	quarterly: 2
	monthly: 3
	*/
	if ($:prenew==jQuery("#renew1").val()){
		console.log("found renew never");
		jQuery("#renew1").prop('checked', true);
	}else if ($:prenew==jQuery("#renew2").val()){
		console.log("found renew annually");
		jQuery("#renew2").prop('checked', true);
	}else if ($:prenew==jQuery("#renew3").val()){
		console.log("found renew quarterly");
		jQuery("#renew3").prop('checked', true);
	}else if ($:prenew==jQuery("#renew4").val()){
		console.log("found renew monthly");
		jQuery("#renew4").prop('checked', true);
	}
	
	/*preset pswd attempts number check (yes/no)*/
	if ($:pattempts==jQuery("#attempts").val()){
		console.log("found use count pswd attempts");
		jQuery("#attempts").prop('checked', true);
	}
	
	/*preset pswd recovery option*/
	if ($:pautorecover==jQuery("#autorecover").val()){
		console.log("found pautorecover");
		jQuery("#autorecover").prop('checked', true);
	}	
});
</script>

</body>

</html>