$def with (id, plen, psets, pdict, phist, prenew, pattempts, pautorecover, notfound) 
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Password policy</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"> <!-- relative path to external files -->
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
		<h4>
          Timeline 
		</h4>
		
		
		  
        </div>
      </div>
    </div>
</header>

<section>
<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
			
			

<form name="input" method="post" action="/add"> <!-- service specified in action must use relative path -->
<p>
<label class="qn id"><b>ID:</b></label> 
	
	$if id:
		<input type="text" value=$:id name="id" id = "pswdid" placeholder="ID">
	$else:
		<input type="text" name="id" id = "pswdid" placeholder="ID">
</p>
<p>
<label class="qn plen"><b>Password length (value of the shortest permitted password):</b></label>         
			<br/>
		  <input type = "radio"
                 name = "plen"
                 id = "len0"
                 value = "0"
                 checked = "checked" />
          <label for = "len0">none</label>
			<br/>
          <input type = "radio"
                 name = "plen"
                 id = "len6"
                 value = "6" />
          <label for = "len6">minimum 6 charachters</label>
			<br/>
           <input type = "radio"
                 name = "plen"
                 id = "len8"
                 value = "8" />
          <label for = "len8">minimum 8 charachters</label>
			<br/>
			 <input type = "radio"
                 name = "plen"
                 id = "len10"
                 value = "10" />
          <label for = "len10">minimum 10 charachters</label>
			<br/>
			 <input type = "radio"
                 name = "plen"
                 id = "len12"
                 value = "12" />
          <label for = "len12">minimum 12 charachters</label>
			<br/><br/>
</p>
<p>
<label class="qn psets"><b>Number of symbol sets that must be used in password:</b></label>         
			<br/>
		  <input type = "radio"
                 name = "psets"
                 id = "sets1"
                 value = "1"
                 checked = "checked" />
          <label for = "sets1">any</label>
			<br/>
          <input type = "radio"
                 name = "psets"
                 id = "sets2"
                 value = "2" />
          <label for = "sets2">at least 2</label>
			<br/>
          <input type = "radio"
                 name = "psets"
                 id = "sets3"
                 value = "3" />
          <label for = "sets2">at least 3</label>
			<br/>
			  <input type = "radio"
                 name = "psets"
                 id = "sets4"
                 value = "4" />
          <label for = "sets4">at least 4</label>
			<br/><br/>
</p>
<p>
			<input type='hidden' value='0' name='pdict'> <!-- method for posting unchecked checkboxes-->
            <input type = "checkbox"
					name = "pdict"
					id = "dic"
					value = "1" />
             <label for = "pdic"><b>Passwords are checked whether they match a dictionary</b></label><br/><br/>
</p>
<p>
		<label class="qn phist"><b>History check of password:</b></label>         
			<br/>
		  <input type = "radio"
                 name = "phist"
                 id = "hist1"
                 value = "0"
                 checked = "checked" />
          <label for = "hist1">none</label>
			<br/>
          <input type = "radio"
                 name = "phist"
                 id = "hist2"
                 value = "1" />
          <label for = "hist2">minimum check (1 past password, exact match) </label>
			<br/>
          <input type = "radio"
                 name = "phist"
                 id = "hist3"
                 value = "2" />
          <label for = "hist3">strict check (2 past passwords, string distance of 2) </label>
			<br/>
			  <input type = "radio"
                 name = "phist"
                 id = "hist4"
                 value = "3" />
          <label for = "hist4">extreme check (4 past passwords, string distance of 5)</label>
			<br/><br/>
		* string distance: how many letters are needed to be changed to obtain the same password<br/><br/>
</p>
<p>
<label class="qn prenew"><b>When the system asks user to renew passwords:</b></label>         
			<br/>
		  <input type = "radio"
                 name = "prenew"
                 id = "renew1"
                 value = "0"
                 checked = "checked" />
          <label for = "renew1">never renew the password</label>
			<br/>
          <input type = "radio"
                 name = "prenew"
                 id = "renew2"
                 value = "1" />
          <label for = "renew2">annual renewal</label>
			<br/>
          <input type = "radio"
                 name = "prenew"
                 id = "renew3"
                 value = "2" />
          <label for = "renew3">renew quarterly</label>
			<br/>
			  <input type = "radio"
                 name = "prenew"
                 id = "renew4"
                 value = "3" />
          <label for = "renew4">renew monthly</label>
			<br/><br/>
</p>
<p>          <input type='hidden' value='0' name='pattempts'> <!-- method for posting unchecked checkboxes--> 
             <input type = "checkbox"
					name = "pattempts"
					id = "attempts"
					value = "1" />
             <label for = "pattempts"><b>Limit wrong password attempts</b></label><br/><br/>
</p>
<p>
<p>
			<input type='hidden' value='0' name='pautorecover'> <!-- method for posting unchecked checkboxes-->
            <input type = "checkbox"
					name = "pautorecover"
					id = "autorecover"
					value = "1" />
            <label for = "autorecover"><b>Forgotten passwords are restored automatically (no human support)</b></label><br/><br/>
</p>


<input id="confirm" name="pconfirm" type="submit" value="Confirm">
</form>
	
</div> <!--class="container-fluid"-->
		</div> <!--class="row-fluid"-->
			</div> <!-- class="span"-->
</section>

<aside>
</aside>

<footer> 

<div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container-fluid">
         <h4>
		 risk probability   
		 <br/> risk impact 
		 <br/> productivity cost
		 </h4>
		</div>
      </div>
    </div>

</footer>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/pwpolicy.js"></script> <!-- relative path to external files -->

</body>

</html>