$var title: Sprks

<h2>Security Policy Risk Simulator </h2>
<h5>An exploratory simulation game featuring the real-life complexities of corporate information
    security.</h5>
<h5>Goal</h5>

<p>Your job is to balance low risk with low productivity costs. Become the best security manager in the
    industry.</p>
<h5>How to play</h5>
<ul>
    <li>You need to login or register in order to play.</li>
    <li>When you enter the game, you are introduced to your new job - CISO at the energy company Global
        Sparks.
    </li>
    <li>Design the company security policy, so that you keep both risks and productivity cost low.</li>
    <li>Manage the incidents occurring under your security policy.</li>
    <li>See how your policy compares to policies designed by others.</li>
</ul>
<p>To start a game please:</p>.

<div class="span11">
    <div class="span4 text-center main_btn"><a href="/register">Register</a></div>
    <div class="span2 text-center"><h3>OR</h3></div>
    <div class="span4 text-center main_btn"><a class="main_btn" href="/login">Login</a></div>
</div>

<br/><br/><br/><br/>

<p>This is a work-in-progress demonstration. Project SPRKS is being developed at <a
        href="http://sec.cs.ucl.ac.uk/">UCL Information Security Research Group</a> and is supported by
    Intel and IBM. Code is open source under the <a href="http://opensource.org/licenses/MIT">MIT
        license</a>. The <a href="https://github.com/mapto/sprks">development process</a> is accessible on
    GitHub.</p>

<p>The website is best experienced with the <a href="www.google.com/chrome/">Chrome Browser</a>.</p>