<!DOCTYPE html>
<html>
<head>
    <title>Sprks</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

</head>
<body>
$var title: Sprks
$var cssfiles: static/css/bootstrap.css
$var date:
<!-- start of main body-->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 intro_container">




                            <h2>Security Policy Risk Simulator </h2>
                            <h5>This is the website of the SPRKS project. It is an exploratory simulation game featuring the real-life complexities of corporate information security.</h5>
                            <h5>Goal</h5>
                            <p>Game is...</p>
                            <h5>What game does</h5>
                            <ul>
                                <li>First,..</li>
                                <li>Second,..</li>
                            </ul>
                            <p>SPRKS is being developed at <a href="http://sec.cs.ucl.ac.uk/">UCL Information Security Research Group</a> and is supported by Intel and IBM.</p>
                            <p>The project is distributed as open source under the <a href="http://opensource.org/licenses/MIT">MIT license</a>. The <a href="https://github.com/mapto/sprks">code is accessible</a> on GitHub.</p>
                            <p>A work-in-progress demo is currently available at <a href="http://orpheus.cs.ucl.ac.uk/">http://orpheus.cs.ucl.ac.uk/</a>. The website is best experienced with the <a href="www.google.com/chrome/">Chrome Browser</a>. To start a game please:</p>.

                            <div class="span11">
                                <div class="span4 text-center main_btn"><a href="/register">Register</a></div>
                                <div class="span2 text-center"><h3>OR</h3></div>
                                <div class="span4 text-center main_btn"><a class="main_btn" href="/login">Login</a></div>
                            </div>


        </div>
	</div>
</div>

</body>
</html>