$def with (incident)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Incident</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"> <!-- relative path to external files -->
</head>
<body>












<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 loginbox main_body_container">

<dov class="incident_box"></dov>

			$:incident
</div>

            </div> <!--class="container-fluid"-->
        </div> <!--class="row-fluid"-->
</div> <!-- class="span loginbox main_body_container"-->









</body>
</html>