$def with (username, turn)

$var title: Incident
$var cssfiles: static/css/bootstrap.css
$var username: $username
$var date: $turn

<div class="description">
    <h1>Incident</h1> <br>
    <p><h4>Policy: </h4><div class="incident_box" id="description"></div></p>
    <p><h4>Incident: </h4><div class="incident_box" id="event"></div></p>
    <p><h4>Consequences: </h4><div class="incident_box" id="consequences"></div></p>
    <p><h4>Risk type: </h4> <div class="incident_box" id="type"></div>
    <p><h4>Risk Probability: </h4> <div class="incident_box" id="risk"></div></p>
    <p><h4>Productivity Cost: </h4> <div class="incident_box" id="cost"></div></p>
    <div class="hide">
        <div class="incident_box" id="impress-upper"></div>
        <div class="incident_box" id="impress-lower"></div>
        <div class="incident_box" id="chat-modifier"></div>
        <div class="incident_box" id="id"></div>
    </div>

    <form method="POST" action="incident"><input id="confirm" name="pconfirm" type="submit" value="End Turn"></form>
</div>
<script src="static/js/incident.js"></script>
<script src="static/js/tutorial.js"></script>
<script>
    $$(document).ready(initIncident());

    var tally = parseInt(getCookie("tally"));

    var randScore = Math.floor(Math.random()*3); // this will get a number between 0 and 2;
    randScore *= Math.floor(Math.random()*2) == 1 ? 1 : -1; // this will turn that number negative 50% of the time
    console.log('randScore ' + randScore);

    window.onbeforeunload = function () {
        var adjust = parseInt(document.getElementById("chat-modifier").innerHTML);
        //setCookie("tally", tally + parseInt(document.getElementById("chat-modifier").innerHTML)); // use when incident bug is fixed
        setCookie("tally", tally + randScore); // use for testing
        setCookie("chats", randScore); // use "chat-modifier" value when incident bug is fixed
        setCookie("iupper", document.getElementById("impress-upper").innerHTML);
        setCookie("ilower", document.getElementById("impress-lower").innerHTML);
        setCookie("imiddle", document.getElementById("id").innerHTML);
    }
</script>
