$def with (content) 
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>

<title>$content.title</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
$if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
		<h4>
		  <div class="timeline"> Timeline: </div>
		</h4>	 
		</div>
      </div>	  
    </div>
<nav class="time_controls">
		<ul>
			<h4>
				<div id="curr_date"></div>
			</h4>	  
			<li><a href="#" class="icon-play"></a></li> 
			<li><a href="#" class="icon-pause"></a></li> 
			<li><a href="#" class="icon-forward"></a></li> 
		</ul>
</nav>
</header>

<section>
<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">






<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 loginbox main_body_container">


			$:content


</div> <!--class="container-fluid"-->
		</div> <!--class="row-fluid"-->
			</div> <!-- class="span loginbox main_body_container"-->


<aside>
</aside>
</div><!--class="container-fluid"-->
		</div><!--class="row-fluid"-->
			</div> <!--span-->

			</section>
<footer> 
<nav class="risk-menu">
		<ul>

			<li>risk probability<br/><span id="prob">XX</span>&#37;</li>
			<li>risk impact<br/>&#36;<span id="impact">XXX</span> million</li>
			<li>productivity cost<br/>&#36;<span id="cost">XXX</span> million</li>

		</ul>
	  </nav>
<div class="navbar navbar-fixed-bottom">


      <div class="navbar-inner">
        <div class="container-fluid">
		<h4>
		Status bar: added value, notificns, etc.
         </h4>
		</div>
      </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</body>
</html>