$def with (content)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>

<title>$content.title</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
$if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <div class="link logout" class="text-right" id="logout"> <a href="/login"> Logout </a></div>  <div class="link logout usrname" class="text-right" id="logout">$content.username </div>
		</div>
      </div>	  
    </div>
<nav class="time_controls">
		<ul>
			<h4>
				 <div id="curr_date">$content.date</div>
			</h4>	  
			<li><a href="#" class="icon-play" id="play"></a></li> 
			<li><a href="#" class="icon-pause"></a></li> 
			<li><a href="#" class="icon-forward"></a></li> 
		</ul>
</nav>
</header>

<section>
<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">






<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 loginbox main_body_container">


			$:content


</div> <!--class="container-fluid"-->
		</div> <!--class="row-fluid"-->
			</div> <!-- class="span loginbox main_body_container"-->


<aside>
</aside>
</div><!--class="container-fluid"-->
		</div><!--class="row-fluid"-->
			</div> <!--span-->

			</section>
<footer> 
      <nav class="risk-menu">
		<ul>
                <li>risk probability: <br/><span id="prob"></span>&#37;</li>
                <li>risk impact:  <br/>&#36;<span id="impact"></span> million</li>
                <li>productivity cost:<br/> &#36;<span id="cost"></span> million</li>

		</ul>
	  </nav>

<div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div  class="menu">

            <div class="story"><a href="/intro">Story </a></div>
            <div class="policy"><a href="/pwpolicy">Policy</a></div>
            <div class="score"><a href="/score">Scores</a></div>

        </div>
        <div class="container-fluid">
		<h4>
		Status bar: added value, notificns, etc.
         </h4>
		</div>
      </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    jQuery(document).ready(function() {
        if (jQuery("#prob").text()=='' || jQuery("#impact").text()=='' || jQuery("#cost").text()==''){
            jQuery(".risk-menu").css("display", "none");
        }else{
            jQuery(".risk-menu").css("display", "block");
        }

        jQuery(document).click( function(){
            if (jQuery("#prob").text()=='' || jQuery("#impact").text()=='' || jQuery("#cost").text()==''){
                jQuery(".risk-menu").css("display", "none");
            }else{
                jQuery(".risk-menu").css("display", "block");
        }

        });



            //check if start date(6 jan 2014 09:00) != current date:
            if(Date.parse('$content.date') != Date.parse("2014-01-06 09:00:00")) {
                console.log('$content.date'+' not equal to start date');
                jQuery(".score").css("display", "block");
            }else{
                console.log('$content.date'+' equal to start date');
                jQuery(".score").css("display", "none");
            }
            //

            //highlight active button(scores/story/policy)
            if('$content.title'=='Scores'){
                jQuery(".score a").css("background-color", "#C10000");
                jQuery(".score a").css("color", "#000");
                jQuery(".score a").css("cursor", "default");
            }else if('$content.title'=='Introduction'){
                jQuery(".story a").css("background-color", "#C10000");
                jQuery(".story a").css("color", "#000");
                jQuery(".story a").css("cursor", "default");
            }else{      //default value for policy as we have a multiple of them
                jQuery(".policy a").css("background-color", "#C10000");
                jQuery(".policy a").css("color", "#000");
                jQuery(".policy a").css("cursor", "default");
            }



         send = function() {
            $$("#curr_date").text('to be defined by server');
            var obj = {};
            var request = jQuery.ajax({
            url: "/forward",
            type: "POST",
            async : false,
            data : JSON.stringify(obj),
            contentType : "application/json; charset=utf-8",
            dataType : "json",
            success : function(curr_date) {
                console.log("success: " + JSON.stringify(curr_date));
                $$("#curr_date").text(curr_date[0].value)
            },
            error: function(response) {
                console.log("fail: " + response.responseText);
            }
            });
        return false;
}
//function for sending request on play btn press
        $$('#play').click(send);


    });
</script>
</body>
</html>