$def with (content)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>$content.title</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
    $if content.has_key('cssfiles'):
        $for css in content.cssfiles.split():
            <link rel="stylesheet" href="$css" type="text/css" media="screen" charset="utf-8"/>
    $if content.has_key('prejs'):
        $for js in content.prejs.split():
            <script src="$js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
</head>
<body>
<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="link"><a href="http://orpheus.cs.ucl.ac.uk/">SPRKS</a></div>
            </div>
        </div>
    </div>

</header>

$:content
<footer>

    <div class="navbar navbar-fixed-bottom">


        <div class="navbar-inner">
            <div class="container-fluid">
                <h4>

                </h4>
            </div>
        </div>
    </div>
</footer>

$if content.has_key('postjs'):
    $for js in content.postjs.split():
        <script src="$js"></script>

</body>
</html>