$def with (content)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>$content.title</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
$if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
             <div class="link"><a href="/login">Home</a></div>
             <div id="login_drop" class="text-right">Login</div>
		</div>
      </div>
    </div>

</header>
<div id="login" class="loginbox">

    <div class="container-fluid">
        <form name="loginForm" method="post" action="login" onsubmit="return validateForm()">
            <div class="row-fluid">
                <div class="span7 ">
                    Username: <input type="text" name="username" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span7 ">
                    Password: <input type="password" name="password"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1 ">
                    <input class="login_btn" type="submit" value="Login">
                </div>
                <div class="span2 offset2" ><a href="/pwrequest">Forgotten password?/ Change password</a></div>
                <div class="span2 offset2" ><a href="/register">REGISTER</a></div>
            </div>
        </form>
    </div>

</div>


$:content
<footer> 

<div class="navbar navbar-fixed-bottom">


      <div class="navbar-inner">
        <div class="container-fluid">
		<h4>

         </h4>
		</div>
      </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</body>
</html>