$def with (content)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>

<title>$content.title</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
$if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js"></script>
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <div class="link"><a href="/pwpolicy">SPRKS</a></div>
        <div class="link" class="text-middle">Turn: $content.date</div>
        <div class="link logout" class="text-right" id="logout"> <a href="/home"> Logout </a></div>  <div class="link logout usrname" class="text-right" id="logout">$content.username </div>
		</div>
      </div>
    </div>
</header>
<section>
    <img src="static/img/tempotimeline.jpg" width="112px">
</section>
<section>
            <div  class="menu">

            <div class="story"><a href="/intro">Introduction</a></div>
            <div class="policy"><a href="/policy">Simulation</a></div>
            <div class="incident"><a href="#" onclick="send()">Consequences</a></div> <!-- this is where the backend page forward is being called -->
            <div class="score"><a href="/score">Score</a></div>


        </div>
<div class="switch">
    <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch" checked>
    <label class="switch-label" for="myswitch">
        <span class="switch-inner"></span>
        <span class="switch-toggle"></span>
    </label>
</div>
<div id="body?" class="container-fluid">
		<div class="row-fluid">
			<div class="span12">






<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 loginbox main_body_container">


			$:content


</div> <!--class="container-fluid"-->
		</div> <!--class="row-fluid"-->
			</div> <!-- class="span loginbox main_body_container"-->


<aside>
</aside>
</div><!--class="container-fluid"-->
		</div><!--class="row-fluid"-->
			</div> <!--span-->

			</section>
<footer>
      <nav class="risk-menu">
		<ul>
                <li style="color: #369ead;">Risk:<br/><span class="score-value" id="risk"></span></li>
                <li style="color: #c24642;">Cost:<br/><span class="score-value" id="cost"></span> </li>

		</ul>
	  </nav>

</footer>

<script src="static/js/private_common.js"></script>  <!-- JS extracted here -->
<script>
    // Extracted JS files to allow easier parallel development.
    // This is the common script for all registered user views.
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.
    // Use $$() for jqueries

    $$(document).ready(initFrame);
//    document.ready = initFrame(); // register callback to function from external JS file;

    function isFirstTurn() {
        content_date = "$content.date";  // possible fix

        if (content_date == 0) {
            return true;
        } else {
            return false;
        }

    }

    function contentTitle() {
        return "$content.title"; // This value is set server-side and appears to client as hardcoded.
    }
</script>
</body>
</html>
