<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Sprks</title>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/blitzer/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.min.css">
    <link rel="stylesheet" href="static/css/custom.css">

    <!-- External JS libraries loaded here. Local scripts loaded at end of file -->
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.min.js"></script>
    <script src="static/js/canvasjs.min.js"></script>
    <script src="static/js/url.min.js"></script>
</head>
<body>

<header>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="link"><a data-bind="click: function(){currentPage('home_page')}">SPRKS</a></div>
            <div class="link" id="login-links">
                <a id="logout-link" data-bind="visible: login.userId() !== 0">Logout <span data-bind="text: login.username()"></span> </a>
                <a id="login-link" data-bind="visible: login.userId() === 0, click: function(){currentPage('login_page')}">Login</a>
            </div>
        </div>
    </div>
</div>
</header>

<div data-bind="visible: login.userId()">
    <div id="menu">
        <div><a data-bind="css: {'active-page-link': currentPage() === 'intro_page'}, click: function(){currentPage('intro_page')}">Story</a></div>
        <div><a data-bind="css: {'active-page-link': currentPage() === 'policy_page'}, click: function(){currentPage('policy_page')}">Policy</a></div>
        <div><a data-bind="css: {'active-page-link': currentPage() === 'profile_page'}, click: function(){currentPage('profile_page')}">Profile</a></div>
        <!--<div><a data-bind="css: {'active-page-link': currentPage() === 'score_page'}, click: function(){currentPage('score_page')}">Scores</a></div>-->
        <!--<div><a data-bind="css: {'active-page-link': currentPage() === 'incident_page'}, click: function(){currentPage('incident_page')}, visible: incident.incidentDate()">Incident</a></div>-->
        <div><a data-bind="css: {'active-page-link': currentPage() === 'report_page'}, click: function(){currentPage('report_page')}">Report</a></div>
    </div>


   <!--
    <div class="risk-menu" data-bind="visible: currentRisk() || currentCost()">
        <ul>
            <li class="risk_menu-title-risk">Risk:<br/><span class="score-value" data-bind="text: currentRisk()"></span></li>
            <li class="risk_menu-title-cost">Cost:<br/><span class="score-value" data-bind="text: currentCost()"></span></li>
        </ul>
    </div>
   -->

    <div class="policy-summary" diplay:none>
        <h4 style = "color:#888888">Factors</h4>
        <h5>Employee:</h5><div class="policy-summary-field" id="sum-employee"></div>
        <h5>Location:</h5><div class="policy-summary-field" id="sum-location"></div>
        <h5>Device:</h5><div class="policy-summary-field" id="sum-device"></div>
        <h4 style = "color:#888888">Policy summary</h4>
        <h5 class="sum-biometric sum-label">Biometric:</h5><div class="policy-summary-field" id="sum-biometric"></div>
        <h5 class="sum-passfaces sum-label">Passfaces:</h5><div class="policy-summary-field" id="sum-passfaces"></div>
        <h5 class="sum-pwpolicy sum-label">Password:</h5><div class="policy-summary-field" id="sum-pwpolicy"></div>
        </h5>
    </div>

    <div class="time_controls" data-bind="with: timeline">
        <ul>
            <h4><div id="time" data-bind="text: format_date(currentDate())"></div></h4>
            <li data-bind="css: {active: clockSpeed() == 1}">
                <a class="icon-play icon-large" id="play" data-bind="click: function(){timelineModel.clockSpeed(1)}"></a>
            </li>
            <li data-bind="css: {active: clockSpeed() == 0}">
                <a class="icon-pause icon-large" id="pause" data-bind="click: function(){timelineModel.clockSpeed(0)}"></a>
            </li>
            <li data-bind="css: {active: clockSpeed() == 2}">
                <a class="icon-forward" id="forward" data-bind="click: function(){timelineModel.clockSpeed(2)}"></a>
            </li>
        </ul>
    </div>
    </div>

<article class="container-fluid">
    <!-- MAP begin-->

    <div data-bind="with: map">
        <div class="interviewee" id="interviewee1">
            Susie
            <img class="device_img" data-bind="attr:{src: interviewee1DeviceImage}" src=""/>
        </div>
        <div class="interviewee" id="interviewee2">
            Kevin
            <img class="device_img" data-bind="attr:{src: interviewee2DeviceImage}" src=""/>
        </div>
        <div class="interviewee" id="interviewee3">
            Iza
            <img class="device_img" data-bind="attr:{src: interviewee3DeviceImage}" src=""/>
        </div>

        <div class="quote" id="quote1" data-bind="visible: currentQuote() == 1">
            <span class="profile">Susie Queue (32), PA to Department Head  <br/>(executive worker):</span>
            <p data-bind="text: quote1"></p>
        </div>
        <div class="quote" id="quote2" data-bind="visible: currentQuote() == 2">
            <span class="profile">Kevin Clark (38), Facilities Technician  <br/>(road worker):</span>
            <p data-bind="text: quote2"></p>
        </div>
        <div class="quote" id="quote3" data-bind="visible: currentQuote() == 3">
            <span class="profile">Iza Henata (26), Client Account Manager  <br/>(desk worker):</span>
            <p data-bind="text: quote3"></p>
        </div>
    </div>
    <!-- MAP end-->


    <div class="row-fluid">
        <div class="offset2 span8" id="main-body" data-bind="visible: currentPage()">
            <div id="close_btn" data-bind="click: function(){pageModel.currentPage('')}"><div class="icon-remove"></div></div>
            <div data-bind="visible: currentPage() === 'home_page'">
                <!--Sprks-->
                <h2>Security Policy Risk Simulator </h2>
                <h5>An exploratory simulation game featuring the real-life complexities of corporate information
                    security.</h5>
                <h5>Goal</h5>

                <p>Your job is to balance low risk with low productivity costs. Become the best security manager in the
                    industry.</p>
                <h5>How to play</h5>
                <ul>
                    <li>You need to login or register in order to play.</li>
                    <li>When you enter the game, you are introduced to your new job - CISO at the energy company Global
                        Sparks.
                    </li>
                    <li>Design the company security policy, so that you keep both risks and productivity cost low.</li>
                    <li>See and analyse a monthly report on employees behaviour to help you to adjust security policy.</li>
                    <li>Manage the incidents occurring under your security policy.</li>
                    <li>See how your policy compares to policies designed by others.</li>
                </ul>

                <div class="span11">
                    <div class="span4 text-center main_btn"><a data-bind="click: function(){currentPage('register_page')}">Register</a></div>
                    <div class="span4 text-center main_btn"><a data-bind="click: function(){currentPage('login_page')}">Login</a></div>
                </div>
                <br/><br/><br/><br/>

                <p>This is a work-in-progress demonstration. Project SPRKS is being developed at <a
                        href="http://sec.cs.ucl.ac.uk/">UCL Information Security Research Group</a> and is supported by
                    Intel and IBM. Code is open source under the <a href="http://opensource.org/licenses/MIT">MIT
                        license</a>. The <a href="https://github.com/mapto/sprks">development process</a> is accessible
                    on
                    GitHub.</p>

                <p>The website is tested to work with the <a href="http://www.google.com/chrome/">Chrome Browser</a>.</p>
            </div>

            <div data-bind="with: register, visible: currentPage() === 'register_page'">
                <form data-bind="submit: submit">
                    <fieldset>
                        <legend>Register</legend>
                        <div class="row-fluid">
                            <input data-bind="value: username" type="text" placeholder="Username" required/>
                        </div>
                        <div class="row-fluid">
                            <input data-bind="value: password" type="password" placeholder="Password" required/>
                        </div>
                        <div class="row-fluid">
                            <input data-bind="value: passwordConfirm" type="password" placeholder="Confirm your password"
                                        required/>
                        </div>
                        <div class="row-fluid">
                            <input data-bind="value: email" type="email" placeholder="Email" required>
                        </div>
                        <input class="login_btn" type="submit" value="Register">
                    </fieldset>
                </form>
            </div>

            <div data-bind="with: login, visible: currentPage() === 'login_page'">
                <form data-bind="submit: submit">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="row-fluid">
                            <div class="span7">
                                <input data-bind="value: username" type="text" placeholder="Username" required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span7">
                                <input data-bind="value: password" type="password" placeholder="Password" required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <input class="login_btn" type="submit" value="Login">
                            <br>
                            <a data-bind="click: function(){pageModel.currentPage('password_recover_page')}">Recover Password</a> |
                            <a data-bind="click: function(){pageModel.currentPage('register_page')}">Register</a>
                        </div>
                    </fieldset>
                </form>
            </div>

             <div data-bind="with: passwordRecover, visible: currentPage() === 'password_recover_page'">
                <form data-bind="submit: submit">
                    <fieldset>
                        <legend>Password Recovery</legend>
                        <p>You will be emailed a password reset link.</p>
                        <input data-bind="value: username" type="text" placeholder="Username" required>
                        <input class="login_btn" type="submit" value="Request">
                    </fieldset>
                </form>
            </div>

            <div data-bind="with: passwordChange, visible: currentPage() === 'password_change_page'">

                <h1>Settings</h1>

                <form data-bind="submit: submit">
                    <fieldset>
                        <legend>Set a new password</legend>
                        <div><input data-bind="value: password" type="password" placeholder="Password" required></div>
                        <div><input data-bind="value: passwordConfirm" type="password" placeholder="Confirm Password" required></div>
                        <input class="login_btn" type="submit" value="Change">
                    </fieldset>
                </form>
            </div>

            <div data-bind="visible: currentPage() === 'intro_page'">
                <!--Introduction-->
                <h1>Your Company</h1>
                <div class="description">
                    <p>Global Sparks is an international energy company, currently headquartered in London, which has begun to expand
                        its operations internationally. In line with this strategy it started buying local electricity suppliers in the
                        US in the early 2000s, and built up a substantial group of companies, primarily located on the West Coast. This
                        period of rapid expansion has left the company somewhat fragmented internally, and this has begun to cause
                        problems in terms of both business and security. To deal with this issue it has been going through a process of
                        consolidating its acquisitions into a single company. An unfortunate side effect of this process has been a
                        recent wave of redundancies. Almost all IT Support staff have been dismissed, because Global Sparks decided to
                        outsource this function to a company based in India. A period of growth has followed the consolidation, and the
                        company has started to hire again, but mostly in the form of contractors (staff on limited-term contracts, and
                        without health and pension benefits). Many of these contractors are former employees of the companies Global
                        Sparks acquired, and who had been made redundant. You have been hired as part of this process as a permanent
                        security manager, with a brief to ensure that the consolidated company has not inherited any security weaknesses
                        from its disparate components. Immediately several issues have come to light, resulting from both the mergers
                        and the fluid hiring situation.</p>

                    <p>To aid you in your work please close the company description and speak to one of the members of staff on the main map to get an idea of
                        what the culture is like at Global Sparks:</p>

                </div>
            </div>

            <div data-bind="visible: currentPage() === 'policy_page'">
            <!--Policy-->
            <h1>Policy</h1>

            <form id="policy_form" name="input" method="post" action="add">
            <!-- service specified in action must use relative path -->
            <!--                <p id="time">2014-1-25</p> -->
            <div class="company" id="employee">
                <h4>Choose employee types</h4>
                <input type="checkbox"
                       name="executives"
                       id="executives"
                       class="target"
                       value="executives"/>
                <label for="executives">executives</label>
                <input type="checkbox" name="desk" id="desk" class="target"
                       value="desk"/>
                <label for="desk">desk</label>
                <input type="checkbox"
                       name="road"
                       id="road"
                       class="target"
                       value="road"/>
                <label for="road">road</label>
            </div>

            <div class="company" id="location">
                <h4>Choose location types</h4>
                <input type="checkbox"
                       name="office"
                       id="office"
                       class="target"
                       value="office"/>
                <label for="office">office</label>
                <input type="checkbox"
                       name="public"
                       id="public"
                       class="target"
                       value="public"/>
                <label for="public">public</label>
                <input type="checkbox"
                       name="home"
                       id="home"
                       class="target"
                       value="home"/>
                <label for="home">home</label>
            </div>

            <div class="company" id="device">
                <h4>Choose device types</h4>
                <input type="checkbox"
                       name="desktop"
                       id="desktop"
                       class="target"
                       value="desktop"/>
                <label for="desktop">desktop</label>
                <input type="checkbox"
                       name="laptop"
                       id="laptop"
                       class="target"
                       value="laptop"/>
                <label for="laptop">laptop</label>
                <input type="checkbox"
                       name="phone"
                       id="phone"
                       class="target"
                       value="phone"/>
                <label for="phone">phone</label>
            </div>

            <h4>Number of authentication mechanisms: </h4>

            <select class="target authentication" id="aut_num" name="aut_num">
                <option value="" disabled selected>number</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <!--
                <option value="2">2</option>
                -->
            </select>

            <div class="aut" id="aut1"></div>
            <div class="aut" id="aut2"></div>

                <!--BIOMETRIC POLICY BEGIN-->
                <!--
                <div class="policy policy0" id="biometric_policy">
                  <h4>Biometric (bdata)</h4>
                  <div class="qn" id="bdata">
                    <select class="target" id="biometric" name="bdata">
                        <option value="0" id="bdata0">none</option>
                        <option value="1" id="bdata1">fingerprint</option>
                        <option value="2" id="bdata2">iris scan</option>
                    </select>
                  </div>
                  <div class="graph" id="graph_bdata"></div>
                </div>
                -->
                <!--BIOMETRIC POLICY END-->

                <!--PASSFACES POLICY BEGIN-->
                <!--
                <div class="policy policy1" id="passfaces_policy">
                  <h4>Passfaces/swipe (pdata)</h4>
                  <div class="qn" id="pdata">
                    <select class="target" id="passfaces" name="pdata">
                        <option value="0" id="pdata0">none</option>
                        <option value="1" id="pdata1">passfaces</option>
                        <option value="2" id="pdata2">swipe-lock</option>
                    </select>
                  </div>
                  <div class="graph" id="graph_pdata"></div>
                </div>
                -->
                <!--PASSFACES POLICY END-->

            <!--PASSWORD POLICY BEGIN-->
            <div class=" policy policy2" id="password_policy">
            <h4>Password Policy</h4>

            <div class="qn" id="plen">
                <label><b>Minimum Password Length (plen):</b></label>
                <br/>
                <input type="radio"
                       name="plen"
                       id="len0"
                       class="target"
                       value="0"
                       checked="checked"/>
                <label for="len0">No Restriction</label>
                <input type="radio"
                       name="plen"
                       id="len6"
                       class="target"
                       value="6"/>
                <label for="len6">6 characters</label>
                <input type="radio"
                       name="plen"
                       id="len8"
                       class="target"
                       value="8"/>
                <label for="len8">8 characters</label>
                <input type="radio"
                       name="plen"
                       id="len10"
                       class="target"
                       value="10"/>
                <label for="len10">10 characters</label>
                <input type="radio"
                       name="plen"
                       id="len12"
                       class="target"
                       value="12"/>
                <label for="len12">12 characters</label>

            <br><br>
            </div>
            <div class="graph" id="graph_plen"></div>

            <div class="qn" id="psets">
                <label><b>Number of symbol sets that must be used in password (psets):</b></label><br>
                <input type="radio"
                       name="psets"
                       id="sets1"
                       class="target"
                       value="1"
                       checked="checked"/>
                <label for="sets1">any</label>
                <input type="radio"
                       name="psets"
                       id="sets2"
                       class="target"
                       value="2"/>
                <label for="sets2">at least 2</label>
                <input type="radio"
                       name="psets"
                       id="sets3"
                       class="target"
                       value="3"/>
                <label for="sets3">at least 3</label>
                <input type="radio"
                       name="psets"
                       id="sets4"
                       class="target"
                       value="4"/>
                <label for="sets4">at least 4</label>
                <br/><br/>

            </div>
            <div class="graph" id="graph_psets"></div>

            <div class="qn" id="pdict">
                <label><b>Passwords are checked whether they match a dictionary (pdict):</b></label><br>
                <input type='hidden' value='0' name='pdict'> <!-- method for posting unchecked checkboxes-->
                <input type="checkbox"
                       name="pdict"
                       id="dic"
                       class="target"
                       value="1"/>
                <label for="dic"><b>Dictionary check</b></label><br/><br/>

            </div>
            <div class="graph" id="graph_pdict"></div>

            <div class="qn" id="phist">
                <label><b>Password history checking mechanism (phist):</b></label>
                <br/>
                <input type="radio"
                       name="phist"
                       id="hist0"
                       class="target"
                       value="0"
                       checked="checked"/>
                <label for="hist0">none</label>
                <input type="radio"
                       name="phist"
                       id="hist1"
                       class="target"
                       value="1"/>
                <label for="hist1">minimum (1 past password, exact match) </label>
                <input type="radio"
                       name="phist"
                       id="hist2"
                       class="target"
                       value="2"/>
                <label for="hist2">strict (3 past passwords, string distance of 1) </label>
                <input type="radio"
                       name="phist"
                       id="hist3"
                       class="target"
                       value="3"/>
                <label for="hist3">extreme (10 past passwords, string distance of 2)</label>
                <br/><br/>
                <label>* string distance: how many letters are needed to be changed to obtain the same
                    password<br/></label>
                <br/>

            </div>
            <div class="graph" id="graph_phist"></div>

            <div class="qn" id="prenew">
                <label><b>When the system asks user to renew passwords (prenew):</b></label>
                <br/>
                <input type="radio"
                       name="prenew"
                       id="renew0"
                       class="target"
                       value="0"
                       checked="checked"/>
                <label for="renew0">never renew the password</label>
                <input type="radio"
                       name="prenew"
                       id="renew1"
                       class="target"
                       value="1"/>
                <label for="renew1">annual renewal</label>
                <input type="radio"
                       name="prenew"
                       id="renew2"
                       class="target"
                       value="2"/>
                <label for="renew2">renew quarterly</label>
                <input type="radio"
                       name="prenew"
                       id="renew3"
                       class="target"
                       value="3"/>
                <label for="renew3">renew monthly</label>
                <br/><br/>

            </div>
            <div class="graph" id="graph_prenew"></div>

            <div class="qn" id="pattempts">
                <label><b>Number of wrong password attempts (pattempts):</b></label>
                <br/>
                <input type="radio"
                       name="pattempts"
                       id="attempts0"
                       class="target"
                       value="0"
                       checked="checked"/>
                <label for="attempts0">Unlimited</label>
                <input type="radio"
                       name="pattempts"
                       id="attempts1"
                       class="target"
                       value="1"/>
                <label for="attempts1">10</label>
                <input type="radio"
                       name="pattempts"
                       id="attempts2"
                       class="target"
                       value="2"/>
                <label for="attempts2">3</label>
                <br/><br/>

            </div>
            <div class="graph" id="graph_pattempts"></div>

            <div class="qn" id="precovery">
                <label><b>Password recovery options (precovery):</b></label>
                <br/>
                <input type="radio"
                       name="precovery"
                       id="recovery0"
                       class="target"
                       value="0"
                       checked="checked"/>
                <label for="recovery0">second e-mail for recovery letter</label>
                <input type="radio"
                       name="precovery"
                       id="recovery1"
                       class="target"
                       value="1"/>
                <label for="recovery1">secret question</label>
                <input type="radio"
                       name="precovery"
                       id="recovery2"
                       class="target"
                       value="2"/>
                <label for="recovery2">transaction questions</label>
                <br/><br/>

            </div>
            <div class="graph" id="graph_precovery"></div>
            </div>

            <div>
                <input type="button" class="btn" name="apply" id="apply" value="Apply" data-bind="enable: timeline.clockSpeed() === 0">
            </div>

            </form>
            <!--PASSWORD POLICY END-->
            </div>
            <div class="employees_num">Employees number: <span id="employees_num" data-bind="text: reportModel.employees_number"></span></div>
            <div data-bind="with: report, visible: currentPage() === 'report_page'">
                <h1>Report</h1><br>
                <h4 id="report_error" style='color:red'></h4>
                <h5>Please hover over the icons to see their meaning.</h5>
                <div hidden data-bind="text: total"></div>
                <div class="span11"><h4>Policies</h4></div>
                <div class="span11" id ="policies" style="margin-bottom:10px;overflow:auto;margin-top: 10px;">
                </div>
                <div class="span11"><h4>Impact of the employees behaviour on R&PC:</h4></div>
                <div class="span11">
                    <div class="span5"><h5>Employee</h5></div>
                    <div class="span3" style="margin-right:40px"><h5>&#8595; Risk</h5></div> <!-- Reduced R -->
                    <div class="span3"><h5>&#8593; Productivity Cost</h5></div> <!-- Increased PC -->
                </div>
                <div class="span11">
                    <div class="span5" id="employees">
                    </div>
                    <div class="span3" id="employees_risk" style="margin-right:40px;">
                    </div>
                    <div class="span3" id="employees_cost">
                    </div>
                </div>
                <div class="span11" style="margin-top:10px">
                    <div class="span5"><h4>Total:</h4></div>
                    <div class="span3" style="margin-right:40px"> <h5>Risk</h5></div>
                    <div class="span3"> <h5>Productivity Cost</h5></div>
                </div>
                <div class="span11" style="margin-top:10px">
                    <div class="span5" id="total_container"></div>
                    <div class="span3" id ="total_risk_container" style="margin-right:40px;"></div>
                    <div class="span3" id ="total_cost_container"></div>
                </div>
            </div>

            <!--Incident-->
            <!--
            <div data-bind="with: incident, visible: currentPage() === 'incident_page'">


                <h1>Incident</h1><br>

                <h4>Date of Incident:</h4>
                <div data-bind="text: format_date(incidentDate())"></div>

                <h4>Policy:</h4>
                <div data-bind="text: description"></div>

                <h4>Incident:</h4>
                <div data-bind="text: event"></div>

                <h4>Consequences:</h4>
                <div data-bind="text: consequences"></div>

                <h4>Risk Type:</h4>
                <div data-bind="text: riskType"></div>

                <h4>Risk:</h4>
                <div data-bind="text: risk"></div>

                <h4>Monetary Cost:</h4>
                <div data-bind="text: monetaryCost"></div>

                <h4>Context:</h4>
                <div>
                    <p>Employee: <span data-bind="text: employee"></span></p>
                    <p>Location: <span data-bind="text: location"></span></p>
                    <p>Device: <span data-bind="text: device"></span></p>
                </div>

            </div>
            -->

            <div data-bind="visible: currentPage() === 'profile_page'">

                <a data-bind="click: function(){pageModel.currentPage('password_change_page')}">
                    <button class="btn">User Settings</button></a>
                <br>

                <h1>Profile</h1>

                <div>To see the policy options which have been changed during the game to achieve the current progress, please check the table below.
                </div>
                <br>

                <!--<div id="chartContainer"></div>-->
                <div id="profile_table">
                    <div id="changed_values"></div>
                </div>
            </div>

            <!--
            <div data-bind="visible: currentPage() === 'score_page'">
                <h1>Scores</h1>

                <div id="accordion">
                    <h2>Risk</h2>

                    <div class="content">
                        <div class="span11 text-center rank">
                            <div class="ranking second" id="r_second">
                                <div class="scr">
                                    <span id="risk_s2"></span><br>
                                    risk: <span class="risk_menu-title-risk large-score" id="risk_s2_v1"></span>
                                    cost: <span class="risk_menu-title-cost" id="risk_s2_v2"></span>
                                </div>
                                <div class="rnk" id="risk_r2"></div>
                                <div class="when" id="risk_w2"></div>
                            </div>
                            <div class="ranking first" id="r_first">
                                <div class="scr">
                                    <span id="risk_s1"></span><br>
                                    risk: <span class="risk_menu-title-risk large-score" id="risk_s1_v1"></span>
                                    cost: <span class="risk_menu-title-cost" id="risk_s1_v2"></span>
                                </div>
                                <div class="rnk" id="risk_r1">1</div>
                                <div class="when" id="risk_w1"></div>
                            </div>
                            <div class="ranking third" id="r_third">
                                <div class="scr">
                                    <span id="risk_s3"></span><br>
                                    risk: <span class="risk_menu-title-risk large-score" id="risk_s3_v1"></span>
                                    cost: <span class="risk_menu-title-cost" id="risk_s3_v2"></span>
                                </div>
                                <div class="rnk" id="risk_r3"></div>
                                <div class="when" id="risk_w3"></div>
                            </div>
                        </div>
                    </div>
                    <h2>Productivity cost</h2>

                    <div class="content">
                        <div class="span11 text-center rank">
                            <div class="ranking second" id="c_second">
                                <div class="scr">
                                    <span id="cost_s2"></span><br>
                                    cost: <span class="risk_menu-title-cost large-score" id="cost_s2_v1"></span>
                                    risk: <span class="risk_menu-title-risk" id="cost_s2_v2"></span>
                                </div>
                                <div class="rnk" id="cost_r2"></div>
                                <div class="when" id="cost_w2"></div>
                            </div>
                            <div class="ranking first" id="c_first">
                                <div class="scr">
                                    <span id="cost_s1"></span><br>
                                    cost: <span class="risk_menu-title-cost large-score" id="cost_s1_v1"></span>
                                    risk: <span class="risk_menu-title-risk" id="cost_s1_v2"></span>
                                </div>
                                <div class="rnk" id="cost_r1">1</div>
                                <div class="when" id="cost_w1"></div>
                            </div>
                            <div class="ranking third" id="c_third">
                                <div class="scr">
                                    <span id="cost_s3"></span><br>
                                    cost: <span class="risk_menu-title-cost large-score" id="cost_s3_v1"></span>
                                    risk: <span class="risk_menu-title-risk" id="cost_s3_v2"></span>
                                </div>
                                <div class="rnk" id="cost_r3"></div>
                                <div class="when" id="cost_w3"></div>
                            </div>
                        </div>
                    </div>
                    <h2>Average</h2>

                    <div class="content">
                        <div class="span11 text-center rank">
                            <h4 class="text-left avg">
                                <div>
                                    <div class="span6">Risk</div>
                                    <div class="span3 risk_menu-title-risk" id="avg_risk">avg_risk</div>
                                </div>
                                <div>
                                    <div class="span6">Productivity cost</div>
                                    <div class="span3 risk_menu-title-cost" id="avg_pc">avg_pc</div>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>
                <div id="congratulate" hidden></div>
            </div>
            -->
        </div>
    </div>

</article>

<footer>
    <div class="navbar navbar-fixed-bottom navbar-inner" data-bind="with: status">
        <h4 style="margin-left:220px;">
            <img width="16px" height="16px" src="" data-bind="attr:{src: imagePath}" />
            <span data-bind="text: statusMessage"></span>
        </h4>
    </div>
</footer>


<object  data="static/img/map.svg"></object> <!--background map for locations-->

<!-- Local scripts loaded here. External libraries loaded in document head -->
<script src="/static/js/policy_interpretor.js"></script>
<script src="static/js/timeline.js"></script>
<script src="static/js/policy_frame.js"></script>
<script src="static/js/characters.js"></script>
<script src="static/js/graphs.js"></script>

<script src="static/js/score_frame.js"></script>
<script src="static/js/status.js"></script>
<script src="static/js/user.js"></script>

<!-- Page-related scripts -->
<script src="static/js/policy.js"></script>
<script src="static/js/profile.js"></script>
<script src="static/js/score.js"></script>
<script src="static/js/incident.js"></script>
<script src="static/js/gtd_report.js"></script>
<script src="static/js/spa.js"></script>
</body>
</html>