$def with (content)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>

<title>$content.title</title>
<link rel="stylesheet" type="text/css" href="/static/css/introjs.css">
<!--[if IE]>
    <script src=""></script>
<![endif]-->
$if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js"></script>
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <div class="link"><a href="/pwpolicy">SPRKS</a></div>
        <div class="link" class="text-middle">Turn: $content.date</div>
        <div class="link logout" class="text-right" id="logout"> <a href="/home"> Logout </a></div>  <div class="link logout usrname" class="text-right" id="logout">$content.username </div>
		</div>
      </div>
    </div>
</header>
<section id="timesec">
    <div class="month"><img src="static/img/month.png" class="timemonth" id="first">1st</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="second">2nd</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="third">3rd</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="fourth">4th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="fifth">5th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="sixth">6th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="seventh">7th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="eighth">8th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="ninth">9th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="tenth">10th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="eleventh">11th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="twelfth">12th</img></div>
    <div class="month"><img src="static/img/month.png" class="timemonth" id="thirteenth">13th</img></div>
</section>
<section>
            <div  class="menu">

            <div class="story"><a href="/intro" id="story">Introduction</a></div>
            <div class="policy"><a href="/policy" id="policy">Policies</a></div>
            <div class="incident"><a href="#" onclick="send()" id="conseq">Consequences</a></div> <!-- this is where the backend page forward is being called -->
            <div class="score"><a href="/score" id="score">Score</a></div>


        </div>

<div id="body?" class="container-fluid">
		<div class="row-fluid">
			<div class="span12">






<div class="container-fluid">
		<div class="row-fluid">
			<div id="maindiv" class="span12 loginbox main_body_container">


			$:content


</div> <!--class="container-fluid"-->
		</div> <!--class="row-fluid"-->
			</div> <!-- class="span loginbox main_body_container"-->


<aside>
</aside>
</div><!--class="container-fluid"-->
		</div><!--class="row-fluid"-->
			</div> <!--span-->


<div class="tutorial" id="tutdiv">
    <div class="switch">
        <input type="checkbox" value="Tutorials" name="switch" class="switch-checkbox" id="myswitch">
        Tutorials
        <label class="switch-label" for="myswitch">
        <span class="switch-inner"></span>
        <span class="switch-toggle"></span>
    </label>
</div>
</div>
<div id="employees">
    <div class="interviewee iza" id="izadiv" data-position="left">Iza</div>
    <div class="quote" id="izaquote"><span class="profile">Iza Henata - Desk Worker<br>Client Account Manager<br></span>
        <div class="talk" id="izaintro">Oh hello! You're our new ISO right? I'm Iza, Client Account Manager. Well, my job sounds fancier than it is, I don’t really manage anyone, just look after some clients. Hope you can clear up the mess we've been given. It got pretty confusing for a while, who was working on what and who was allowed to see the info I have on our customers. It seemed to take ages to get any changes made to permissions but we have always had a few tricks to deal with that. The merger didn’t make that side of things worse, but for a while you never know who you would be working with from one week to the next. I am glad it has settled down now, I am starting to get friendly with my new team and that makes work go a little easier.</div>
        <div class="talk" id="izarisky">Thanks for your effort last month. I don't want to tell you how to do your job, but our policies seemed a little risky. We deal with some sensitive information. We'd all get in trouble if something happens.</div>
        <div class="talk" id="izacstly">Good work last month. I was talking to a friend from Finance, seems like we might have gone a bit over budget. We're secure for now, but may not be able to keep it up if we keep the same policies for long.</div>
        <div class="talk" id="izablnce">Hey, just wanted to thank you. I think you made the right calls for our policies last month. Keep up the good work.</div>
    </div>

    <div class="interviewee andy" id="andydiv" data-position="left">Andrew</div>
    <div class="quote" id="andyquote"><span class="profile">Andrew Homes - Desk Worker<br>Sales Consultant<br></span>
        <div class="talk" id="andyintro">Hi, I'm Andrew, your new Sales Consultant. For the most part I'll just be calling potential clients to offer them our products. I may have to go on the road from time to time, but not for a while, I don't think. So my needs are not too complicated since I'll only need to access my own terminal. Look forward to working with you</div>
        <div class="talk" id="andyrisky">Well, last month was interesting. I only have my computer, but I could tell the policies were a bit lax. Watercooler talk is always around possible information leaks and worries about attacks. You have to change your policies for the better.</div>
        <div class="talk" id="andycstly">Ok, so what I'm going to say is not my opinion. Watercooler talk, you know what I mean? Some of our team are complaining about policies getting in the way of their actual work, they say they have to do too much to get their passwords sorted out. You didn't hear it from me, cool?</div>
        <div class="talk" id="andyblnce">Dude, if you'd pardon the expression, great work. I suppose if you're not the talk of the watercooler, you must be doing things right, right? Anyway, keep it up!</div>
    </div>

    <div class="interviewee kevin" id="kevdiv" data-position="left">Kevin</div>
    <div class="quote" id="kevquote"><span class="profile">Kevin Clark - Road Worker<br>Facilities Technician<br></span>
        <div class="talk" id="kevintro">Bit unfair how ISOs don't participate in the cross-training. Waste of time if you ask me. Anyway, I'm Kevin. I was re-hired to do the same job, with the same pay, and no benefits. There are no other decent IT jobs going in this area, otherwise I'd be gone by now. Plus with all the shuffling around no-one knows each other anymore. We all have to wear badges now, use passwords everywhere, walk through checkpoints like we are at the airport every time we want to go to the toilet. That’s what it seems like to me anyway. I walk all over the building fixing computers and stuff and the atmosphere really has changed.</div>
        <div class="talk" id="kevrisky">I may not know much about information security, but even I can tell your choices were so risky last month. Keeping costs low may turn out to be costly if we have a breach because of your policies.</div>
        <div class="talk" id="kevcstly">Nice work last month. I do have two pence to offer you, though. Your policy was sound, in my opinion, but I've had some experience with IT. I get why you made your choices. Others may not. Employee morale must also factor in your policy.</div>
        <div class="talk" id="kevblnce">Well, I must say I'm pleasantly surprised at how good you are at what you do.</div>
    </div>

    <div class="interviewee susie" id="susdiv" data-position="left">Susie</div>
    <div class="quote" id="susquote"><span class="profile">Susie Queue - Road Worker<br>PA to Department Head<br></span>
        <div class="talk" id="susintro">I'm Susie, PA to the Department Head. Pleasure. I quite like this training with you guys. Back at my division, IT support is terrible. It was so different when IT was in the same building. A bottle of wine at Christmas kept them happy and I always got things fixed in time. Now it is some random person half the world away that doesn't know me from Adam. Everything takes twice as long to get fixed. This can be a real problem when the boss is under pressure and the latest round of password changes has locked me out of his email account.</div>
        <div class="talk" id="susrisky">I do like how much risks you're taking with our policies. Pretty sure you've heard this before, but don't be too reckless. At least not if you'd like to keep your job.</div>
        <div class="talk" id="suscstly">Whew, password policies here are so...strict. I'm sure you have your reasons and...well as long as we're secure I guess it's alright. Hopefully work isn't being affected badly by all this.</div>
        <div class="talk" id="susblnce">I've never gotten so much work done with so little trouble since before the mergers! I may just apply for a transfer here. Uh...mum's the word, okay?</div>
    </div>

    <div class="interviewee helen" id="heldiv" data-position="left">Helen</div>
    <div class="quote" id="helquote"><span class="profile">Helen Stark - Executive<br>Recruitment Manager<br></span>
        <div class="talk" id="helintro">...and you must be our ISO. Helen Stark, Recruitment Manager. I'm here to manage our signings, new and old. I may have to shuffle some of our people around, not too sure yet. Don't worry too much about that, so what I'll need from you. I'll need access to their personnel files as well as project and vacancies files...</div>
        <div class="talk" id="helrisky">...oh, good there you are. I will tell you that I don't like too much risk taking. We're still fragile as a company, the last thing any of us want is a data security accident. What we want, you must know, is balance...</div>
        <div class="talk" id="helcstly">...need a second with you. Just wanted to call your attention to your spending. I won't tell you what to do with your policies, but I will tell you that we may not have as much financial security as you may think...</div>
        <div class="talk" id="helblnce">Hey, you got a minute? Sorry if I came across as a bit rough. Sometimes work gets the better of me. That being said, I appreciate that your work has not been giving me headaches. Keep it up.</div>
    </div>

    <div class="interviewee drake" id="drkdiv" data-position="left">Drake</div>
    <div class="quote" id="drkquote"><span class="profile">Drake Green - Executive<br>Suppliers Manager<br></span>
        <div class="talk" id="drkintro">Hey, hotshot ISO. Name's Drake, I manage most of our suppliers. What does that mean? It means I keep our suppliers in check, make sure their performance is up to par and handle most of their inspections on our behalf. Oh, you mean what does it mean for you? Just make sure my access to our supplier's files is secure and I can take care of the rest.</div>
        <div class="talk" id="drkrisky">Hey, hotshot! Great seeing you again. Hope your policy's up to snuff this month, 'cause last month's...let's say it was a bit of a thrillride. All's I'm sayin' is we need security to go with our passwords</div>
        <div class="talk" id="drkcstly">Hotshot! How you been? Your division's pockets must be lined the way you're spending on security. I did ask for it when we met, but didn't think you'd take it this far.</div>
        <div class="talk" id="drkblnce">Well hotshot, you've done it now. I didn't tell you to do such a good job that you make my division look bad. Might want to tone it down a bit.</div>
    </div>

</div>
</section>
<footer>
      <nav class="risk-menu">
		<ul>
                <li style="color: #369ead;">Risk:<br/><span class="score-value" id="risk"></span></li>
                <li style="color: #c24642;">Cost:<br/><span class="score-value" id="cost"></span> </li>

		</ul>
	  </nav>

</footer>
<script src="static/js/intro.js"></script>
<script src="static/js/conversation.js"></script>
<script src="static/js/tutorial.js"></script>
<script src="static/js/private_common.js"></script>  <!-- JS extracted here -->
<script>
    // Extracted JS files to allow easier parallel development.
    // This is the common script for all registered user views.
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.
    // Use $$() for jqueries

    $$(document).ready(initFrame);
//    document.ready = initFrame(); // register callback to function from external JS file;

    function isFirstTurn() {
        content_date = "$content.date";  // possible fix

        if (content_date == 0) {
            return true;
        } else {
            return false;
        }

    }

    function contentTitle() {
        return "$content.title"; // This value is set server-side and appears to client as hardcoded.
    }

    var story = document.getElementById("story");
    console.log(story.innerHTML);
    var title = contentTitle(); // store the title dynamically to use in intro switch statement
    function contentTurn() { return "$content.date"; }
    var turn = contentTurn();

    /*
        Cookie character chat behavior
    */
    function showElement(name) {
        document.getElementById(name).style.display = "block";
    }
    
    function hideElement(name) {
        document.getElementById(name).style.display = "none";
    }

    var chars = ["iza","andy","kev","sus","hel","drk"];
    var divs = ["intro","risky","cstly","blnce"];

    function hideChatDivs(name) {
        console.log(name);
        if (typeof name !== 'undefined') {
            for (i = 0; i < divs.length; i++) {
                hideElement(name + divs[i]);
            }
        } else {
            for (i = 0; i < chars.length; i++) {
                for (j = 0; j < divs.length; j++) {
                    hideElement(chars[i] + divs[j]);
                }
            }
        }
    }

    function showChatDivs(index) {
        for (i = 0; i < chars.length; i++) {
            showElement(chars[i] + divs[index]);
        }
    }

    function currentChatDiv() {
        var ccd = str.slice(document.getElementById("izadiv"));
    }

    var chatCookie = parseInt(getCookie("chats"));
    if (turn != 0){
        switch (true) {
            case (chatCookie < 0):
                hideChatDivs();
                showChatDivs(1); // show risky divs
                break;
            case (chatCookie > 0):
                hideChatDivs();
                showChatDivs(2); // show costly divs
                break;
            default: // if 0
                hideChatDivs();
                showChatDivs(3); // show balance divs
                break;
        }
    }

    /*
        choose when to display new characters
    */

    if (turn >= 3) { // If on or after 4th month (Apr), display andrew
        console.log('turn gt 3');
        if (turn == 3) {
            console.log('turn is 3');
            if (title == "Incident") { hideElement("andydiv"); } // don't display andrew on incident page at "3rd" turn
            hideChatDivs("andy"); // necessary since the chats are still being selected
            showElement("andydiv");
            showElement("andyintro"); // display andy's intro as a chat (overrides cookie settings)
        }
        console.log('andrew shows up');
        showElement("andydiv");
    }


    if (turn >= 6) { // If on or after 7th month (July), display susie and kevin
        if (turn == 6) {
            if (title == "Incident") { hideElement("susdiv"); hideElement("kevdiv"); }
            hideChatDivs("kev");
            hideChatDivs("sus");
            showElement("kevdiv");
            showElement("susdiv");
            showElement("kevintro");
            showElement("susintro:);
        }
        console.log('susie and kevin show up');
        showElement("susdiv");
        showElement("kevdiv");
    }

    if (turn >= 7) { // If on or after 8th month (Aug), display helen and drake
        if (turn == 7) {
            if (title == "Incident") { hideElement("drkdiv"); hideElement("heldiv"); }
            hideChatDivs("hel");
            hideChatDivs("drk");
            showElement("heldiv");
            showElement("drkdiv");
            showElement("helintro");
            showElement("drkintro");
        }
        console.log('helen and drake show up');
        showElement("heldiv");
        showElement("drkdiv");

    }

    /*
        select month divs to be filled with cookie? logic
    */
    var first = document.getElementById("first");
    var second = document.getElementById("second");
    var third = document.getElementById("third");
    var fourth = document.getElementById("fourth");
    var fifth = document.getElementById("fifth");
    var sixth = document.getElementById("sixth");
    var seventh = document.getElementById("seventh");
    var eighth = document.getElementById("eighth");
    var ninth = document.getElementById("ninth");
    var tenth = document.getElementById("tenth");
    var eleventh = document.getElementById("eleventh");
    var twelfth = document.getElementById("twelfth");
    var thirteenth = document.getElementById("thirteenth");
</script>
</body>
</html>
