$def with (content) 
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Sprks</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"> <!-- relative path to external files -->
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
		</div>
      </div>	  
    </div>

</header>
$:content
<footer> 

<div class="navbar navbar-fixed-bottom">


      <div class="navbar-inner">
        <div class="container-fluid">
		<h4>

         </h4>
		</div>
      </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</body>
</html>