$def with (username, turn)

$var title: Introduction
$var cssfiles: static/css/bootstrap.css
$var date: $turn
$var username: $username
<link rel="stylesheet" type="text/css" href="/static/css/introjs.css">
<h1>Your Company</h1>
<input type="button" value="clickmeh!" onclick="javascript:introJs().start();">
<div class="description">
   <iframe id="frame" src="/static/impress.html" height="500px" width="100%" data-step="4" data-intro="button"></iframe>
   <script>document.getElementById('frame').contentWindow.focus();</script>
   <form method="POST" action="intro"><input id="confirm" name="pconfirm" type="submit" value="Next" data-step="5" data-intro="button"></form>
</div>
        <div class="interviewee" id="interview1" data-step="1" data-intro="This is Susie" data-position="left">Susie</div>
        <div class="quote" id="quote1"><span class="profile">Susie Queue (32), PA to Department Head:</span><br> The main problem I have with my job is that IT support is terrible. It used to be the case that the department was in the same building, and you knew you could walk in or call them up and speak to the same people you spoke to last time. A bottle of wine at Christmas kept them happy and I always got things fixed in time. Now it is some random person half the world away that doesn't know me from Adam. Not having that personal relationship makes things more difficult and everything takes twice as long to get fixed. This can be a real problem when the boss is under pressure and the latest round of password changes has locked me out of his email account.</div>

        <div class="interviewee" id="interview2" data-step="2" data-intro="This is Kevin" data-position="left">Kevin</div>
        <div class="quote" id="quote2"><span class="profile">Kevin Clark (38), Facilities Technician:</span><br> I have been re-hired to do the same job, at the same level of pay, but without benefits. It doesn't make me happy but there are no other decent IT jobs going in this area, so I have to do it. Unfortunately they know this too and so we don’t get treated like we did when I worked here properly. It doesn't help that with all the shuffling around no-one knows each other anymore. We all have to wear badges now, use passwords everywhere, walk through checkpoints like we are at the airport every time we want to go to the toilet. That’s what it seems like to me anyway. I walk all over the building fixing computers and stuff and the atmosphere really has changed.</div>

        <div class="interviewee" id="interview3" data-step="3" data-intro="This is Iza" data-position="left">Iza</div>
        <div class="quote" id="quote3"><span class="profile">Iza Henata (26), Client Account Manager:</span><br> My job sounds fancier than it is, I don’t really manage anyone, just look after some clients. Have the mergers affected me? I suppose so. It got pretty confusing for a while, who was working on what and who was allowed to see the info I have on our customers. It seemed to take ages to get any changes made to permissions but we have always had a few tricks to deal with that. The merger didn’t make that side of things worse, but for a while you never know who you would be working with from one week to the next. I am glad it has settled down now, I am starting to get friendly with my new team and that makes work go a little easier.</div>

<script src="static/js/intro.js"></script>
<script src="static/js/introduction.js"></script>