<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script> function validateForm(){
        var x = document.forms["loginForm"]
        if(x["username"].value==""||x["username".value==null]||x["password"].value==null||x["password"].value=="")
        {
            alert("All fields must be filled")
            return false
        }
        return true
    }
    </script>
</head>
<body>
$var title: Login
$var cssfiles: static/css/bootstrap.css
<header>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
            </div>
        </div>
    </div>
</header>
<div class="intro">
    <p>This is the website of the SPRKS project. It is an exploratory simulation game featuring the real-life complexities of corporate information security.</p>
    <p>SPRKS is being developed at <a href="http://sec.cs.ucl.ac.uk/">UCL Information Security Research Group</a> and is supported by Intel and IBM.</p>
    <p>The project is open source and its <a href="https://github.com/mapto/sprks">code is accessible</a> on GitHub.</p>
</div>

<div class="loginbox"><!-- start of main body-->

    <div class="container-fluid">
        <form name="loginForm" method="post" action="login" onsubmit="return validateForm()">
            <div class="row-fluid">
                <div class="span7 ">
                    Username: <input type="text" name="username" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span7 ">
                    Password: <input type="password" name="password"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1 ">
                    <input class="login_btn" type="submit" value="Login">
                </div>
                <div class="span2 offset2" ><a href="/pwrequest">Forgotten password?/ Change password</a></div>
                <div class="span2 offset2" ><a href="/register">REGISTER</a></div>
            </div>
        </form>
    </div>

</div><!-- end of main body-->
<footer>
    <div class="navbar  navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
            </div>
        </div>
    </div>
</footer>
</body>
</div>
</html>