<!DOCTYPE html>
<html>
<head>
    <title>Sprks</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script> function validateForm(){
        var x = document.forms["loginForm"]
        if(x["username"].value==""||x["username".value==null]||x["password"].value==null||x["password"].value=="")
        {
            alert("All fields must be filled")
            return false
        }
        return true
    }
    </script>
</head>
<body>
$var title: Login
$var cssfiles: static/css/bootstrap.css
$var date:
<!-- start of main body-->
<section>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" style="background-color:#fff">

			 <div class="span12 loginbox main_body_container">



                            <p>This is the website of the SPRKS project. It is an exploratory simulation game featuring the real-life complexities of corporate information security.</p>
                            <p>SPRKS is being developed at <a href="http://sec.cs.ucl.ac.uk/">UCL Information Security Research Group</a> and is supported by Intel and IBM.</p>
                            <p>The project is distributed as open source under the <a href="http://opensource.org/licenses/MIT">MIT license</a>. The <a href="https://github.com/mapto/sprks">code is accessible</a> on GitHub.</p>
                            <p>A work-in-progress demo is currently available at <a href="http://orpheus.cs.ucl.ac.uk/">http://orpheus.cs.ucl.ac.uk/</a>. The website is best experienced with the <a href="www.google.com/chrome/">Chrome Browser</a></p>.


             </div>

        </div>
	</div>
</div>
</section>
<!-- end of main body-->

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="static/js/login.js"></script>
</body>
</html>