$def with(user_id, token)
$var title: Password Change
<div class="loginbox">

    <form id="passwordChangeForm" action="/pwrecovery">
        <fieldset>
            <legend>Set your new password</legend>
            <div><input type="password" id="password" placeholder="New password"></div>
            <div><input type="password" id="password_confirm" placeholder="Confirm new password"></div>
            <input type="hidden" id="user_id" value="$user_id">
            <input type="hidden" id="token" value="$token">
            <input class="login_btn" type="submit" value="Change">
            <div id="errors"></div>
        </fieldset>
    </form>

</div>

<script>
    $$('#passwordChangeForm').submit(function (e) {
        e.preventDefault();
        var password = $$('#password').val();
        if (password === $$('#password_confirm').val()) {
            $$.ajax({
                type: 'PUT',
                url: '/api/user/password',
                dataType: 'json',
                data: JSON.stringify({
                    user_id: $$('#user_id').val(),
                    password: password,
                    token: $$('#token').val()
                }),
                statusCode: {
                    500: function () {
                        $$('#errors').html("Server error");
                    },
                    200: function (response) {
                        if (response.errors.length === 0) {
                            window.location = ("/");
                        } else {
                            $$('#errors').html(response.errors.join('<br>'));
                        }
                    }
                }
            });

        } else {
            $$('#errors').html("Passwords don't match.");
        }
    })
</script>