<!-- OBSOLETE, partially replaced by skeleton_spa -->
$def with (user_id, token)
$var title: Password Change

<form id="passwordChangeForm">
    <fieldset>
        <legend>Set your new password</legend>
        <div><input type="password" data-bind="value: password" placeholder="Password" required></div>
        <div><input type="password" data-bind="value: passwordConfirm" placeholder="Confirm Password" required></div>
        <input class="login_btn" type="submit" value="Change">
        <ul data-bind="foreach: messages">
            <li data-bind="text: $$data"></li>
        </ul>
    </fieldset>
</form>

<script>

    passwordChangeFormModel = {
        password: ko.observable(),
        passwordConfirm: ko.observable(),
        messages: ko.observableArray()
    }

    ko.applyBindings(passwordChangeFormModel, document.getElementById('passwordChangeForm'));

    $$('#passwordChangeForm').submit(function (e) {
        e.preventDefault();
        if (passwordChangeFormModel.password() === passwordChangeFormModel.passwordConfirm()) {
            $$.ajax({
                type: 'PUT',
                url: '$path/api/user/password/$user_id',
                dataType: 'json',
                data: JSON.stringify({
                    password: passwordChangeFormModel.password(),
                    token: '$token',
                    autologin: true
                }),
                statusCode: {
                    500: function () {
                        passwordChangeFormModel.messages(['Server error']);
                    },
                    200: function (response) {
                        passwordChangeFormModel.messages(response.messages);
                        if (response.success === true){
                            passwordChangeFormModel.password('');
                            passwordChangeFormModel.passwordConfirm('');
                        }
                    }
                }
            });
        } else {
            passwordChangeFormModel.messages(["Passwords don't match"]);
        }
    })
</script>