$var title: Password Recovery
<div class="loginbox">

    <form id="passwordRecoveryForm">
        <fieldset>
            <legend>You will be sent an email with a password reset link.</legend>
            <div><input type="text" id="username" placeholder="Username" required></div>
            <input class="login_btn" type="submit" value="Request">
            <div id="errors"></div>
        </fieldset>
    </form>

</div>

<script>
    $$('#passwordRecoveryForm').submit(function (e) {
        e.preventDefault();
        $$.ajax({
            type: 'POST',
            url: '/api/user/password',
            dataType: 'json',
            data: JSON.stringify({
                user_id: $$('#username').val()
            }),
            statusCode: {
                500: function () {
                    $$('#errors').html("Server error");
                },
                200: function (response) {
                    if (response.errors.length === 0) {
                        window.location = ("/");
                    } else {
                        $$('#errors').html(response.errors.join('<br>'));
                    }
                }
            }
        });
    })
</script>