$var title: Password Recovery

<form id="passwordRecoveryForm">
    <fieldset>
        <legend>Password Recovery</legend>
        <p>You will be emailed a password reset link.</p>
        <input type="text" data-bind="value: username" placeholder="Username" required>
        <input class="login_btn" type="submit" value="Request">
        <ul data-bind="foreach: messages">
            <li data-bind="text: $$data"></li>
        </ul>
    </fieldset>
</form>

<script>

    formModel = {
        username: ko.observable(),
        messages: ko.observableArray()
    }

    ko.applyBindings(formModel);

    $$('#passwordRecoveryForm').submit(function (e) {
        e.preventDefault();
        $$.ajax({
            type: 'POST',
            url: '/api/user/password/' + formModel.username(),
            dataType: 'json',
            data: JSON.stringify({
                uid_type: 'username'
            }),
            statusCode: {
                500: function () {
                    formModel.messages(['Server error']);
                },
                200: function (response) {
                    if (response.success === true){
                        window.location = ("/");
                    } else {
                        formModel.messages(response.msgs);
                    }
                }
            }
        });
    })
</script>