$def with (user_id, token)
$var title: Password Change

<form id="passwordChangeForm">
    <fieldset>
        <legend>Set your new password</legend>
        <div><input type="password" data-bind="value: password" placeholder="Password" required></div>
        <div><input type="password" data-bind="value: passwordConfirm" placeholder="Confirm Password" required></div>
        <input class="login_btn" type="submit" value="Change">
        <ul data-bind="foreach: messages">
            <li data-bind="text: $$data"></li>
        </ul>
    </fieldset>
</form>

<script>

    formModel = {
        password: ko.observable(),
        passwordConfirm: ko.observable(),
        messages: ko.observableArray()
    }

    ko.applyBindings(formModel);

    $$('#passwordChangeForm').submit(function (e) {
        e.preventDefault();
        if (formModel.password() === formModel.passwordConfirm()) {
            $$.ajax({
                type: 'PUT',
                url: '/api/user/password/$user_id',
                dataType: 'json',
                data: JSON.stringify({
                    password: formModel.password(),
                    token: '$token'
                }),
                statusCode: {
                    500: function () {
                        formModel.messages(['Server error']);
                    },
                    200: function (response) {
                        formModel.messages(response.messages);
                        if (response.success === true){
                            formModel.password('');
                            formModel.passwordConfirm('');
                        }
                    }
                }
            });
        } else {
            formModel.messages(["Passwords don't match"]);
        }
    })
</script>