$def with (username, date, jsondumps)
$var title: Profile
$var cssfiles: static/css/bootstrap.css
$var date: $date
$var username: $username
<h1>Profile</h1>
        <div>Now takes only jsondumps[0] for one date only, the rest datapoints are mocked. Possible improvement: use array for a set of dates</div><br>
        <div id="risk"></div>
        <div id="cost"></div>
        <div id="chartContainer"></div>

<script src="/static/js/canvasjs-1.2.1/canvasjs.js"></script>
<script src="static/js/profile.js"></script>

<script>
            json = $:jsondumps; //history values in json format from serverside (policy_history.py)
            console.log(json);
            $$(document).ready(init);
</script>