$var title: Profile

<h1>Profile</h1>
<div>Now displays attribute names and values in a way that they are required, but it doesn't make much sense for the
    player what does each attribute name mean or how to interpret its value. Possible improvement: can extract labels
    and value interpretations from pwpolicy_form.html, but not sure if it's possible to do
</div><br>

<div id="chartContainer"></div>
<div id="profile_table">
    <div id="changed_values"></div>
</div>

<script src="$path/static/js/canvasjs-1.2.1/canvasjs.js"></script>
<script src="$path/static/js/profile.js"></script>

<script>
    $$(document).ready(initProfile());
</script>