$def with (username, date, jsondumps)
$var title: Profile
$var cssfiles: static/css/bootstrap.css
$var date: $date
$var username: $username
<h1>Profile</h1>
        <div>Now displays attribute names and values in a way that they are required, but it's confusing what does each attribute name mean or how to interpret its value</div><br>

        <div id="chartContainer"></div>
        <div id="profile_table">
            <div id="changed_values"> </div>
        </div>

<script src="/static/js/canvasjs-1.2.1/canvasjs.js"></script>
<script src="static/js/profile.js"></script>

<script>
            json = $:jsondumps; //history values in json format from serverside (policy_history.py)
            console.log(json);
            $$(document).ready(init);
</script>