$var title: Policy
<h1>Policy</h1>
<form id="policy_form" name="input" method="post" action="$path/add"> <!-- service specified in action must use relative path -->
<p id="time"></p>
<div class="company" id="employee">
<label><h4>Choose employee types</h4></label><br/>
    <input type="checkbox"
           name="executives"
           id="executives"
           class="target"
           value="executives"/>
    <label for="executives">executives</label><br/><br/>
    <input type="checkbox"
           name="desk"
           id="desk"
           class="target"
           value="desk"/>
    <label for="desk">desk</label><br/><br/>
    <input type="checkbox"
           name="road"
           id="road"
           class="target"
           value="road"/>
    <label for="road">road</label><br/><br/>
</div>

<div class="company" id="location">
<label><h4>Choose location types</h4></label><br/>
    <input type="checkbox"
           name="office"
           id="office"
           class="target"
           value="office"/>
    <label for="office">office</label><br/><br/>
    <input type="checkbox"
           name="public"
           id="public"
           class="target"
           value="public"/>
    <label for="public">public</label><br/><br/>
    <input type="checkbox"
           name="home"
           id="home"
           class="target"
           value="home"/>
    <label for="home">home</label><br/><br/>
</div>

<div class="company" id="device">
<label><h4>Choose device types</h4></label><br/>
    <input type="checkbox"
           name="desktop"
           id="desktop"
           class="target"
           value="desktop"/>
    <label for="desktop">desktop</label><br/><br/>
    <input type="checkbox"
           name="laptop"
           id="laptop"
           class="target"
           value="laptop"/>
    <label for="laptop">laptop</label><br/><br/>
    <input type="checkbox"
           name="phone"
           id="phone"
           class="target"
           value="phone"/>
    <label for="phone">phone</label><br/><br/>
</div>

<label><h4>Please select the number of authentication mechanisms: </h4></label><br>

<select class="target authentication" id="aut_num" name="aut_num">
   <option value="" disabled selected>number</option>
   <option value="0">0</option>
   <option value="1">1</option>
   <option value="2">2</option>
 </select>

 <div class="aut" id="aut1"></div>
 <div class="aut" id="aut2"></div>


<!--BIOMETRIC POLICY BEGIN-->
<div class=" policy policy0" id="biometric_policy">
    <h4>Biometric</h4>
    <select class="target" id="biometric" name="biometric">
        <option value="1">fingerprint</option>
        <option value="2">iris scan</option>
    </select>
</div>
<!--BIOMETRIC POLICY END-->

<!--PASSFACES POLICY BEGIN-->
<div class=" policy policy1" id="passfaces_policy">
    <h4>Passfaces/swipe</h4>
    <select class="target"  id="passfaces" name="passfaces">
        <option value="1">passfaces</option>
        <option value="2">swipe-lock</option>
    </select>
</div>
<!--PASSFACES POLICY END-->

<!--PASSWORD POLICY BEGIN-->
<div class=" policy policy2" id="password_policy">
<h4>Password Policy</h4>



<p>

    $if user_id():
        <input type="hidden" value=$:user_id() name="userid" id="pswdid" placeholder="ID">
    $else:
        <input type="hidden" name="userid" id="pswdid" placeholder="ID">

</p>

<p class="qn" id="plen">
    <label><b>Password length (value of the shortest permitted password):</b></label>
    <br/>
    <input type="radio"
           name="plen"
           id="len0"
           class="target"
           value="0"
           checked="checked"/>
    <label for="len0">none</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len6"
           class="target"
           value="6"/>
    <label for="len6">minimum 6 characters</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len8"
           class="target"
           value="8"/>
    <label for="len8">minimum 8 characters</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len10"
           class="target"
           value="10"/>
    <label for="len10">minimum 10 characters</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len12"
           class="target"
           value="12"/>
    <label for="len12">minimum 12 characters</label>
    <br/><br/>

<div class="graph" id="graph_plen"></div>


<p class="qn" id="psets">
    <label><b>Number of symbol sets that must be used in password:</b></label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets1"
           class="target"
           value="1"
           checked="checked"/>
    <label for="sets1">any</label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets2"
           class="target"
           value="2"/>
    <label for="sets2">at least 2</label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets3"
           class="target"
           value="3"/>
    <label for="sets2">at least 3</label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets4"
           class="target"
           value="4"/>
    <label for="sets4">at least 4</label>
    <br/><br/>

<div class="graph" id="graph_psets"></div>
</p>

<p class="qn" id="pdict">
    <input type='hidden' value='0' name='pdict'> <!-- method for posting unchecked checkboxes-->
    <input type="checkbox"
           name="pdict"
           id="dic"
           class="target"
           value="1"/>
    <label for="dic"><b>Passwords are checked whether they match a dictionary</b></label><br/><br/>

<div class="graph" id="graph_pdict"></div>
</p>

<p class="qn" id="phist">
    <label><b>Password history checking mechanism:</b></label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="hist1">none</label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist2"
           class="target"
           value="1"/>
    <label for="hist2">minimum check (1 past password, exact match) </label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist3"
           class="target"
           value="2"/>
    <label for="hist3">strict check (3 past passwords, string distance of 1) </label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist4"
           class="target"
           value="3"/>
    <label for="hist4">extreme check (10 past passwords, string distance of 2)</label>
    <br/><br/>
    <label>* string distance: how many letters are needed to be changed to obtain the same password<br/></label>
    <br/>

<div class="graph" id="graph_phist"></div>
</p>

<p class="qn" id="prenew">
    <label><b>When the system asks user to renew passwords:</b></label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="renew1">never renew the password</label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew2"
           class="target"
           value="1"/>
    <label for="renew2">annual renewal</label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew3"
           class="target"
           value="2"/>
    <label for="renew3">renew quarterly</label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew4"
           class="target"
           value="3"/>
    <label for="renew4">renew monthly</label>
    <br/><br/>

<div class="graph" id="graph_prenew"></div>
</p>

<p class="qn" id="pattempts">
    <label><b>Number of wrong password attempts:</b></label>
    <br/>
    <input type="radio"
           name="pattempts"
           id="attempts1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="attempts1">no limit to attempts</label>
    <br/>
    <input type="radio"
           name="pattempts"
           id="attempts2"
           class="target"
           value="1"/>
    <label for="attempts2">10 login attempts</label>
    <br/>
    <input type="radio"
           name="pattempts"
           id="attempts3"
           class="target"
           value="2"/>
    <label for="attempts3">3 login attempts</label>
    <br/><br/>

<div class="graph" id="graph_pattempts"></div>
</p>

<p class="qn" id="precovery">
    <label><b>Password recovery options:</b></label>
    <br/>
    <input type="radio"
           name="precovery"
           id="recovery1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="recovery1">second e-mail for recovery letter</label>
    <br/>
    <input type="radio"
           name="precovery"
           id="recovery2"
           class="target"
           value="1"/>
    <label for="recovery2">secret question</label>
    <br/>
    <input type="radio"
           name="precovery"
           id="recovery3"
           class="target"
           value="2"/>
    <label for="recovery3">transaction questions</label>
    <br/>
<br/><br/>
<div class="graph" id="graph_precovery"></div>
</p>


</div>

<div>
<input type="button" name="apply" id="apply" value="Apply">
</div>

</form>
<!--PASSWORD POLICY END-->


<script src="$path/static/js/canvasjs-1.2.1/canvasjs.js"></script>
<script src="$path/static/js/pwpolicy.js"></script>  <!-- JS extracted here -->

<script>
    // Extracted JS files to allow easier parallel development.
    // This is the dedicated script for the password policy view
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.
    // Use $$() for jqueries

    $$(document).ready(initPwpolicy);

    function getUserID() {
        /*ID is preset inside HTML code*/
        console.log("found id $:user_id()");
        return $user_id(); // This value is set server-side and appears to client as hardcoded.
    }


</script> <!-- relative path to external files -->