$def with (username, id, plen, psets, pdict, phist, prenew, pattempts, precovery, notfound, date)
$var title: Password policy
$var cssfiles: static/css/bootstrap.css
$var date: $date
$var username: $username
<h1>Password Policy</h1>

<form name="input" method="post" action=""> <!-- service specified in action must use relative path -->

<p>
    <input type="hidden" name="date" value="$date">
    <!--
           <label class="qn id"><b>ID:</b></label>
    -->
    $if id:
        <input type="hidden" value=$:id name="userid" id="pswdid" placeholder="ID">
    $else:
        <input type="hidden" name="userid" id="pswdid" placeholder="ID">
</p>

<p class="qn" id="plen">
    <label ><b>Password length (value of the shortest permitted password):</b></label>
    <br/>
    <input type="radio"
           name="plen"
           id="len0"
           class="target"
           value="0"
           checked="checked"/>
    <label for="len0">none</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len6"
           class="target"
           value="6"/>
    <label for="len6">minimum 6 characters</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len8"
           class="target"
           value="8"/>
    <label for="len8">minimum 8 characters</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len10"
           class="target"
           value="10"/>
    <label for="len10">minimum 10 characters</label>
    <br/>
    <input type="radio"
           name="plen"
           id="len12"
           class="target"
           value="12"/>
    <label for="len12">minimum 12 characters</label>
    <br/><br/>
    <div class="graph" id="graph_plen"></div>
</p>

<p class="qn" id="psets">
    <label><b>Number of symbol sets that must be used in password:</b></label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets1"
           class="target"
           value="1"
           checked="checked"/>
    <label for="sets1">any</label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets2"
           class="target"
           value="2"/>
    <label for="sets2">at least 2</label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets3"
           class="target"
           value="3"/>
    <label for="sets2">at least 3</label>
    <br/>
    <input type="radio"
           name="psets"
           id="sets4"
           class="target"
           value="4"/>
    <label for="sets4">at least 4</label>
    <br/><br/>
    <div class="graph" id="graph_psets"></div>
</p>

<p class="qn" id="pdict">
    <input type='hidden' value='0' name='pdict'> <!-- method for posting unchecked checkboxes-->
    <input type="checkbox"
           name="pdict"
           id="dic"
           class="target"
           value="1"/>
    <label for="dic"><b>Passwords are checked whether they match a dictionary</b></label><br/><br/>
    <div class="graph" id="graph_pdict"></div>
</p>

<p class="qn" id="phist">
    <label><b>Password history checking mechanism:</b></label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="hist1">none</label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist2"
           class="target"
           value="1"/>
    <label for="hist2">minimum check (1 past password, exact match) </label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist3"
           class="target"
           value="2"/>
    <label for="hist3">strict check (3 past passwords, string distance of 1) </label>
    <br/>
    <input type="radio"
           name="phist"
           id="hist4"
           class="target"
           value="3"/>
    <label for="hist4">extreme check (10 past passwords, string distance of 2)</label>
    <br/><br/>
    <label>* string distance: how many letters are needed to be changed to obtain the same password<br/></label>
    <br/>
    <div class="graph" id="graph_phist"></div>
</p>

<p class="qn" id="prenew">
    <label><b>When the system asks user to renew passwords:</b></label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="renew1">never renew the password</label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew2"
           class="target"
           value="1"/>
    <label for="renew2">annual renewal</label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew3"
           class="target"
           value="2"/>
    <label for="renew3">renew quarterly</label>
    <br/>
    <input type="radio"
           name="prenew"
           id="renew4"
           class="target"
           value="3"/>
    <label for="renew4">renew monthly</label>
    <br/><br/>
    <div class="graph" id="graph_prenew"></div>
</p>

<!-- checkbox for pattempts (depricated)
<p>          <input type='hidden' value='0' name='pattempts'>
             <input type = "checkbox"
					name = "pattempts"
					id = "attempts"
                 class="target"
					value = "1" />
             <label for = "attempts"><b>Limit wrong password attempts</b></label><br/><br/>
</p>
-->


<p class="qn" id="pattempts">
    <label><b>Number of wrong password attempts:</b></label>
    <br/>
    <input type="radio"
           name="pattempts"
           id="attempts1"
           class="target"
           value="0"
           checked="checked"/>
    <label for="attempts1">no limit to attempts</label>
    <br/>
    <input type="radio"
           name="pattempts"
           id="attempts2"
           class="target"
           value="1"/>
    <label for="attempts2">10 login attempts</label>
    <br/>
    <input type="radio"
           name="pattempts"
           id="attempts3"
           class="target"
           value="2"/>
    <label for="attempts3">3 login attempts</label>
    <br/><br/>
    <div class="graph" id="graph_pattempts"></div>
</p>



<p class="qn" id="precovery">
    <input type='hidden' value='0' name='precovery'> <!-- method for posting unchecked checkboxes-->
    <input type="checkbox"
           name="precovery"
           id="autorecover"
           class="target"
           value="1"/>
    <label for="autorecover"><b>Forgotten passwords are restored automatically (no human support)</b></label><br/><br/>
    <div class="graph" id="graph_precovery"></div>
</p>

</form>

<script src="/static/js/canvasjs-1.2.1/canvasjs.js"></script>
<script src="static/js/pwpolicy.js"></script>  <!-- JS extracted here -->

<script>
    // Extracted JS files to allow easier parallel development.
    // This is the dedicated script for the password policy view
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.
    // Use $$() for jqueries

    $$(document).ready(init);
//    document.ready = init(); // register callback to function from external JS file;

    function getInitPolicy() {
         // These values are set server-side and appear to client as hardcoded.
        return {"plen": $:plen,
                "psets": $:psets,
                "pdict": $:pdict,
                "phist": $:phist,
                "prenew": $:prenew,
                "pattempts": $:pattempts,
                "precovery": $:precovery};
    }

    // this is inherently linked to
    // not used, but passed as a parameter, now can be accessed from external scripts
    function getUserID() {
    	/*ID is preset inside HTML code*/
        console.log("found id $:id");

        return $:id; // This value is set server-side and appears to client as hardcoded.
    }

    function policyExists() {
        console.log("policyExists -> date $:date");

        $if notfound != 1:
            return true; // This value is set server-side and appears in browser as hardcoded.
        $else:
            return false; // This value is set server-side and appears to client as hardcoded.
    }
</script> <!-- relative path to external files -->