$def with (username, id, plen, psets, pdict, phist, prenew, pattempts, pautorecover, notfound, date)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Password policy</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"> <!-- relative path to external files -->
</head>
<body>
$var title: Password policy
$var cssfiles: static/css/bootstrap.css
$var date: $date
$var username: $username
<form name="input" method="post" action="/add"> <!-- service specified in action must use relative path -->
    <h1>Set your password policy</h1>
    <br/>
    <p>
        <input type="hidden" name="date" value="$date">
<!--
       <label class="qn id"><b>ID:</b></label>
-->
	$if id:
		<input type="hidden" value=$:id name="userid" id = "pswdid" placeholder="ID">
	$else:
		<input type="hidden" name="userid" id = "pswdid" placeholder="ID">
</p>
<p>
<label class="qn plen"><b>Password length (value of the shortest permitted password):</b></label>
			<br/>
		  <input type = "radio"
                 name = "plen"
                 id = "len0"
                 class="target"
                 value = "0"
                 checked = "checked" />
          <label for = "len0">none</label>
			<br/>
          <input type = "radio"
                 name = "plen"
                 id = "len6"
                 class="target"
                 value = "6" />
          <label for = "len6">minimum 6 characters</label>
			<br/>
           <input type = "radio"
                 name = "plen"
                 id = "len8"
                 class="target"
                 value = "8" />
          <label for = "len8">minimum 8 characters</label>
			<br/>
			 <input type = "radio"
                 name = "plen"
                 id = "len10"
                 class="target"
                 value = "10" />
          <label for = "len10">minimum 10 characters</label>
			<br/>
			 <input type = "radio"
                 name = "plen"
                 id = "len12"
                 class="target"
                 value = "12" />
          <label for = "len12">minimum 12 characters</label>
			<br/><br/>
</p>
<p>
<label class="qn psets"><b>Number of symbol sets that must be used in password:</b></label>         
			<br/>
		  <input type = "radio"
                 name = "psets"
                 id = "sets1"
                 class="target"
                 value = "1"
                 checked = "checked" />
          <label for = "sets1">any</label>
			<br/>
          <input type = "radio"
                 name = "psets"
                 id = "sets2"
                 class="target"
                 value = "2" />
          <label for = "sets2">at least 2</label>
			<br/>
          <input type = "radio"
                 name = "psets"
                 id = "sets3"
                 class="target"
                 value = "3" />
          <label for = "sets2">at least 3</label>
			<br/>
			  <input type = "radio"
                 name = "psets"
                 id = "sets4"
                 class="target"
                 value = "4" />
          <label for = "sets4">at least 4</label>
			<br/><br/>
</p>
<p>
			<input type='hidden' value='0' name='pdict'> <!-- method for posting unchecked checkboxes-->
            <input type = "checkbox"
					name = "pdict"
					id = "dic"
                 class="target"
					value = "1" />
             <label for = "dic"><b>Passwords are checked whether they match a dictionary</b></label><br/><br/>
</p>
<p>
		<label class="qn phist"><b>Password history checking mechanism:</b></label>
			<br/>
		  <input type = "radio"
                 name = "phist"
                 id = "hist1"
                 class="target"
                 value = "0"
                 checked = "checked" />
          <label for = "hist1">none</label>
			<br/>
          <input type = "radio"
                 name = "phist"
                 id = "hist2"
                 class="target"
                 value = "1" />
          <label for = "hist2">minimum check (1 past password, exact match) </label>
			<br/>
          <input type = "radio"
                 name = "phist"
                 id = "hist3"
                 class="target"
                 value = "2" />
          <label for = "hist3">strict check (3 past passwords, string distance of 1) </label>
			<br/>
			  <input type = "radio"
                 name = "phist"
                 id = "hist4"
                 class="target"
                 value = "3" />
          <label for = "hist4">extreme check (10 past passwords, string distance of 2)</label>
			<br/><br/>
		* string distance: how many letters are needed to be changed to obtain the same password<br/><br/>
</p>
<p>
<label class="qn prenew"><b>When the system asks user to renew passwords:</b></label>         
			<br/>
		  <input type = "radio"
                 name = "prenew"
                 id = "renew1"
                 class="target"
                 value = "0"
                 checked = "checked" />
          <label for = "renew1">never renew the password</label>
			<br/>
          <input type = "radio"
                 name = "prenew"
                 id = "renew2"
                 class="target"
                 value = "1" />
          <label for = "renew2">annual renewal</label>
			<br/>
          <input type = "radio"
                 name = "prenew"
                 id = "renew3"
                 class="target"
                 value = "2" />
          <label for = "renew3">renew quarterly</label>
			<br/>
			  <input type = "radio"
                 name = "prenew"
                 id = "renew4"
                 class="target"
                 value = "3" />
          <label for = "renew4">renew monthly</label>
			<br/><br/>
</p>

<!-- checkbox for pattempts (depricated)
<p>          <input type='hidden' value='0' name='pattempts'>
             <input type = "checkbox"
					name = "pattempts"
					id = "attempts"
                 class="target"
					value = "1" />
             <label for = "attempts"><b>Limit wrong password attempts</b></label><br/><br/>
</p>
-->



<p>
<label class="qn pattempts"><b>Number of wrong password attempts:</b></label>
			<br/>
		  <input type = "radio"
                 name = "pattempts"
                 id = "attempts1"
                 class="target"
                 value = "0"
                 checked = "checked" />
          <label for = "attempts1">no limit to attempts</label>
			<br/>
          <input type = "radio"
                 name = "pattempts"
                 id = "attempts2"
                 class="target"
                 value = "1" />
          <label for = "attempts2">10 login attempts</label>
			<br/>
          <input type = "radio"
                 name = "pattempts"
                 id = "attempts3"
                 class="target"
                 value = "2" />
          <label for = "attempts3">3 login attemps</label>
			<br/><br/>
</p>




<p>
<p>
			<input type='hidden' value='0' name='pautorecover'> <!-- method for posting unchecked checkboxes-->
            <input type = "checkbox"
					name = "pautorecover"
					id = "autorecover"
                 class="target"
					value = "1" />
            <label for = "autorecover"><b>Forgotten passwords are restored automatically (no human support)</b></label><br/><br/>
</p>

</form>
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
/*wait until document is loaded*/
jQuery(document).ready(function(){
	

    //send_callback();
    jQuery('.target').change(send_callback);
    //$$('#play').click(send)

	var d = new Date();
	var strDate = d.getDate() + "/" + (d.getMonth()+1) + "/" + d.getFullYear()+", "+ d.getHours()+":"+d.getMinutes();
	
	//document.getElementById('curr_date').innerHTML = strDate;

	if($:notfound==1){
        // If code executed, then we have a new user
        // Greet them accordingly
		alert('This is your first visit. You can see the policy as it has been left by your predecessor.')
	}
	/*ID is preset inside HTML code*/
		console.log("found id $:id");

	/*preset password (pswd) length value*/
	if ($:plen==jQuery("#len0").val()){
		console.log("found plen 0");
		jQuery("#len0").prop('checked', true);
	}else if ($:plen==jQuery("#len6").val()){
		console.log("found plen 6");
		jQuery("#len6").prop('checked', true);
	}else if ($:plen==jQuery("#len8").val()){
		console.log("found plen 8");
		jQuery("#len8").prop('checked', true);
	}else if ($:plen==jQuery("#len10").val()){
		console.log("found plen 10");
		jQuery("#len10").prop('checked', true);
	}else if ($:plen==jQuery("#len12").val()){
		console.log("found plen 12");
		jQuery("#len12").prop('checked', true);
	}

	/*preset pswd sets value*/
	if ($:psets==jQuery("#sets1").val()){
		console.log("found sets any");
		jQuery("#sets1").prop('checked', true);
	}else if ($:psets==jQuery("#sets2").val()){
		console.log("found sets 2");
		jQuery("#sets2").prop('checked', true);
	}else if ($:psets==jQuery("#sets3").val()){
		console.log("found sets 3");
		jQuery("#sets3").prop('checked', true);
	}else if ($:psets==jQuery("#sets4").val()){
		console.log("found sets 4");
		jQuery("#sets4").prop('checked', true);
	}else console.log('FOUND error psets=0')

	/*preset pswd dictionary value*/
	if ($:pdict==jQuery("#dic").val()){
		console.log("found use dict");
		jQuery("#dic").prop('checked', true);
	}else{
		console.log('pdict:no')
	}

	/*preset pswd history check
	none: 0
	simple: 1
	strict: 2
	extreme: 3
	*/
	if ($:phist==jQuery("#hist1").val()){
		console.log("found phist none");
		jQuery("#hist1").prop('checked', true);
	}else if ($:phist==jQuery("#hist2").val()){
		console.log("found phist simple");
		jQuery("#hist2").prop('checked', true);
	}else if ($:phist==jQuery("#hist3").val()){
		console.log("found phist strict");
		jQuery("#hist3").prop('checked', true);
	}else if ($:phist==jQuery("#hist4").val()){
		console.log("found phist extreme");
		jQuery("#hist4").prop('checked', true);
	}

	/*preset pswd renewal period check
	never: 0
	annual: 1
	quarterly: 2
	monthly: 3
	*/
	if ($:prenew==jQuery("#renew1").val()){
		console.log("found renew never");
		jQuery("#renew1").prop('checked', true);
	}else if ($:prenew==jQuery("#renew2").val()){
		console.log("found renew annually");
		jQuery("#renew2").prop('checked', true);
	}else if ($:prenew==jQuery("#renew3").val()){
		console.log("found renew quarterly");
		jQuery("#renew3").prop('checked', true);
	}else if ($:prenew==jQuery("#renew4").val()){
		console.log("found renew monthly");
		jQuery("#renew4").prop('checked', true);
	}

	/*preset pswd attempts number check (yes/no)*/
	if ($:pattempts==jQuery("#attempts").val()){
		console.log("found use count pswd attempts");
		jQuery("#attempts").prop('checked', true);
	}

	/*preset pswd recovery option*/
	if ($:pautorecover==jQuery("#autorecover").val()){
		console.log("found pautorecover");
		jQuery("#autorecover").prop('checked', true);
	}else{
		console.log('pautorecover:no')
	}
});



/* handle AJAX (realtime) submission */
/*
send = function() { // need different event handling, to capture any change

    var obj = {};
    var obj1 = {};
	var strDate = document.forms["input"]["date"].value;
    obj.userid=document.forms["input"]["userid"].value;
    obj1.plen=$$('input[name="plen"]:checked').val();
    obj1.psets=$$('input[name="psets"]:checked').val();
    obj1.pdict=$$('input[name="pdict"]:checked').val();
    obj1.phist=$$('input[name="phist"]:checked').val();
    obj1.prenew=$$('input[name="prenew"]:checked').val();
    obj1.pattempts=$$('input[name="pattempts"]:checked').val();
    obj1.pautorecover=$$('input[name="pautorecover"]:checked').val();
    obj.data=JSON.stringify(obj1);
    obj.date=strDate;
    console.log(obj);
    var request = jQuery.ajax({
        url: "/forward",
        type: "POST",
        async : false,
        data : JSON.stringify(obj),
        contentType : "application/json; charset=utf-8",
        dataType : "json",
        success : function(score) {
            $$(score).each(function(i) {
                document.forms["input"]["date"].value=score[i].value;
            })
        },
        error: function(response) {
            console.log("fail: " + response.responseText);
        }
        });
    return false;
}
//sends data when users press play button
*/
send_callback = function() { // need different event handling, to capture any change
    var d = new Date();
    var obj = {};
    var obj1 = {};
    var day = d.getDate()-1;
	var strDate =document.forms["input"]["date"].value;
    obj.date=strDate;
    obj.userid=document.forms["input"]["userid"].value;
    obj1.plen=$$('input[name="plen"]:checked').val();
    obj1.psets=$$('input[name="psets"]:checked').val();
    obj1.pdict=$$('input[name="pdict"]:checked').val();
    obj1.phist=$$('input[name="phist"]:checked').val();
    obj1.prenew=$$('input[name="prenew"]:checked').val();
    obj1.pattempts=$$('input[name="pattempts"]:checked').val();
    obj1.pautorecover=$$('input[name="pautorecover"]:checked').val();
    obj.data=JSON.stringify(obj1);
    console.log(obj);
    var request = jQuery.ajax({
        url: "/pwpolicy",
        type: "POST",
        async : false,
        data : JSON.stringify(obj),
        contentType : "application/json; charset=utf-8",
        dataType : "json",
        success : function(score) {
            console.log("success: " + JSON.stringify(score));
            $$(score).each(function(i) {
                $$("#" + score[i].name).text(score[i].value)
            })


        },
        error: function(response) {
            console.log("fail: " + response.responseText);
        }
        });
    return false;
}

</script> <!-- relative path to external files -->

</body>

</html>