<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="$static_url/css/bootstrap.css" rel="stylesheet">
    <script>
        function validateForm()
        {
            x = document.forms['requestForm']['Username'].value
            if(x==null||x=="")
            {
                alert("Please enter username")
                return false
            }
            return true
        }
    </script>
</head>
<body>
$var title: Password request
$var cssfiles: bootstrap.css
$var date:
<div class="loginbox"><!-- start of main body-->


<form name="requestForm" action="$app_url/pwrequest" method="POST" onsubmit="return validateForm()">
    <fieldset>
        <legend>You will be send an email</legend>
        <div><input type="text" name="Username" placeholder="Username" required></div>
        <input class="login_btn" type="submit" value="Request">
    </fieldset>
</form>

</div><!-- end of main body-->
<script src="$static_url/js/lib/jquery-1.10.0.min.js"></script>
<script src="$static_url/js/lib/jquery-migrate-1.2.1.min.js"></script>

</body>
</html>