<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script>
        function validateForm()
        {
            x = document.forms['requestForm']['Username'].value
            if(x==null||x=="")
            {
                alert("Please enter username")
                return false
            }
            return true
        }
    </script>
</head>
<body>
$var title: Password request
$var cssfiles: static/css/bootstrap.css
<div class="loginbox"><!-- start of main body-->


<form name="requestForm" action="/pwrequest" method="POST" onsubmit="return validateForm()">
    <div>Username: <input type="text" name="Username"></div>
    <input class="login_btn" type="submit" value="Request">
</form>

</div><!-- end of main body-->

</body>
</html>