$var title: Register
<div class="loginbox">
    <br>

    <form id="registerForm">
        <fieldset>
            <legend>Register</legend>
            <div class="row-fluid">
                <div><input type="text" id="username" value="" placeholder="Username" required/></div>
            </div>
            <div class="row-fluid">
                <div><input type="password" id="password" value="" placeholder="Password" required/></div>
            </div>
            <div class="row-fluid">
                <div><input type="password" id="password_confirm" value="" placeholder="Confirm your password"
                            required/></div>
            </div>
            <div class="row-fluid">
                <br>

                <div><input type="email" id="email" placeholder="Email" required></div>
            </div>

            <input class="login_btn" type="submit" value="Register"><br>

            <div id="errors"></div>
        </fieldset>
    </form>

</div>
<script>
    $$('#registerForm').submit(function (e) {
        e.preventDefault();
        var password = $$('#password').val();
        if (password === $$('#password_confirm').val()) {
            $$.ajax({
                type: 'POST',
                url: '/api/user/register',
                dataType: 'json',
                data: JSON.stringify({
                    username: $$('#username').val(),
                    password: password,
                    email: $$('#email').val()
                }),
                statusCode: {
                    500: function () {
                        $$('#errors').html("Server error");
                    },
                    200: function (response) {
                        if (response.errors.length === 0) {
                            window.location = ("/");
                        } else {
                            $$('#errors').html(response.errors.join('<br>'));
                        }
                    }
                }
            });

        } else {
            $$('#errors').html("Passwords don't match.");
        }
    })
</script>