$var title: Register

<form id="registerForm">
    <fieldset>
        <legend>Register</legend>
        <div class="row-fluid">
            <div><input type="text" data-bind="value: username" placeholder="Username" required/></div>
        </div>
        <div class="row-fluid">
            <div><input type="password" data-bind="value: password" placeholder="Password" required/></div>
        </div>
        <div class="row-fluid">
            <div><input type="password" data-bind="value: passwordConfirm"  placeholder="Confirm your password"
                        required/></div>
        </div>
        <div class="row-fluid">
            <br>
            <div><input type="email" data-bind="value: email"  placeholder="Email" required></div>
        </div>
        <input class="login_btn" type="submit" value="Register"><br>
        <ul data-bind="foreach: messages">
            <li data-bind="text: $$data"></li>
        </ul>
    </fieldset>
</form>

<script>

    formModel = {
        username: ko.observable(),
        password: ko.observable(),
        passwordConfirm: ko.observable(),
        email: ko.observable(),
        messages: ko.observableArray()
    };

    ko.applyBindings(formModel);

    $$('#registerForm').submit(function (e) {
        e.preventDefault();
        if (formModel.password() === formModel.passwordConfirm()) { // What is this? "==" means want to compare 2 string to be similar, not identical
            $$.ajax({
                type: 'PUT',
                url: '/api/user/account/' + formModel.username(),
                dataType: 'json',
                data: JSON.stringify({
                    password: formModel.password(),
                    email: formModel.email()
                }),
                statusCode: {
                    500: function () {
                        formModel.messages(['Server error']);
                    },
                    200: function (response) {
                        formModel.messages(response.msgs);
                    },
                    201: function(response) {
                        window.location = ("/");
                    }
                }
            });
        } else {
            formModel.messages(["Passwords don't match"]);
        }
    })
</script>