$var title: Scores
<h1>Scores</h1>
<div id="accordion">

    <h2>Risk</h2>

    <div class="content">
        <div class="span11 text-center rank">
            <div class="ranking second" id="r_second">
                <div class="scr" id="risk_s2"></div>
                <div class="rnk" id="risk_r2"></div>
                <div class="when" id="risk_w2"></div>
            </div>
            <div class="ranking first" id="r_first">
                <div class="scr" id="risk_s1"></div>
                <div class="rnk" id="risk_r1">1</div>
                <div class="when" id="risk_w1"></div>
            </div>
            <div class="ranking third" id="r_third">
                <div class="scr" id="risk_s3"></div>
                <div class="rnk" id="risk_r3"></div>
                <div class="when" id="risk_w3"></div>
            </div>
        </div>
    </div>

    <h2>Productivity cost</h2>

    <div class="content">
        <div class="span11 text-center rank">
            <div class="ranking second" id="c_second">
                <div class="scr" id="cost_s2"></div>
                <div class="rnk" id="cost_r2"></div>
                <div class="when" id="cost_w2"></div>
            </div>
            <div class="ranking first" id="c_first">
                <div class="scr" id="cost_s1"></div>
                <div class="rnk" id="cost_r1">1</div>
                <div class="when" id="cost_w1"></div>
            </div>
            <div class="ranking third" id="c_third">
                <div class="scr" id="cost_s3"></div>
                <div class="rnk" id="cost_r3"></div>
                <div class="when" id="cost_w3"></div>
            </div>
        </div>
    </div>
    <h2>Average</h2>

    <div class="content">
        <div class="span11 text-center rank">
            <h4 class="text-left avg">
                <div>

                    <div class="span6">Risk</div>
                    <div class="span3" id="avg_risk">avg_risk</div>
                </div>
                <div>

                    <div class="span6">Productivity cost</div>
                    <div class="span3" id="avg_pc">avg_pc</div>

                </div>
            </h4>
        </div>
    </div>
</div>
<div id="congratulate" hidden></div>

<!-- jquery loaded in frame decoration -->
<script src="$path/static/js/mootools-core-1.4.5-full-compat.js"></script>
<script src="$path/static/js/mootools-more-1.4.0.1.js"></script>

<script src="$path/static/js/score.js"></script>   <!-- JS extracted here -->

<script>
    // This is the common script for all registered user views.
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.

    $$(document).ready(initScore);

    function getUsername() {
        /*ID is preset inside HTML code*/
        console.log("found user $username()");

        return "$username()"; // This value is set server-side and appears to client as hardcoded.
    }
</script>
