$def with (username, y_risk, y_risk_when, y_risk_rank,y_pc, y_pc_when, y_pc_rank, c_risk, c_risk_when, c_risk_rank,c_pc, c_pc_when, c_pc_rank, b_risk, b_risk_when, b_pc, b_pc_when, avg_risk, avg_pc, date)
$var title: Scores
$var date: $date
$var username: $username

<h1>Scores</h1>

<div id="accordion">

    <h2>Risk</h2>

    <div class="content">
        <div class="span11 text-center rank">
            <div class="ranking second" id="r_second">
                <div class="scr" id="risk_s2"></div>
                <div class="rnk" id="risk_r2"></div>
                <div class="when" id="risk_w2"></div>
            </div>
            <div class="ranking first" id="r_first">
                <div class="scr" id="risk_s1"></div>
                <div class="rnk" id="risk_r1">1</div>
                <div class="when" id="risk_w1"></div>
            </div>
            <div class="ranking third" id="r_third">
                <div class="scr" id="risk_s3"></div>
                <div class="rnk" id="risk_r3"></div>
                <div class="when" id="risk_w3"></div>
            </div>
        </div>
    </div>

    <h2>Productivity cost</h2>

    <div class="content">
        <div class="span11 text-center rank">
            <div class="ranking second" id="c_second">
                <div class="scr" id="cost_s2"></div>
                <div class="rnk" id="cost_r2"></div>
                <div class="when" id="cost_w2"></div>
            </div>
            <div class="ranking first" id="c_first">
                <div class="scr" id="cost_s1"></div>
                <div class="rnk" id="cost_r1">1</div>
                <div class="when" id="cost_w1"></div>
            </div>
            <div class="ranking third" id="c_third">
                <div class="scr" id="cost_s3"></div>
                <div class="rnk" id="cost_r3"></div>
                <div class="when" id="cost_w3"></div>
            </div>
        </div>
    </div>
    <h2>Average</h2>

    <div class="content">
        <div class="span11 text-center rank">
            <h4 class="text-left avg">
                <div>

                    <div class="span6">Risk</div>
                    <div class="span3">$avg_risk</div>
                </div>
                <div>

                    <div class="span6">Productivity cost</div>
                    <div class="span3">$avg_pc</div>

                </div>
            </h4>
        </div>
    </div>
</div>


<!-- jquery loaded in frame decoration -->
<script src="/static/js/mootools-core-1.4.5-full-compat.js"></script>
<script src="/static/js/mootools-more-1.4.0.1.js"></script>
<script src="static/js/score.js"></script>  <!-- JS extracted here -->

<script>
    // Extracted JS files to allow easier parallel development.
    // This is the dedicated script for the password policy view
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.
    // Use $$() for jqueries

    $$(document).ready(init);

    function getUsername() {
        /*ID is preset inside HTML code*/
        console.log("found user $username");

        return "$username"; // This value is set server-side and appears to client as hardcoded.
    }

    // utility function
    function capitalise(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    // A shorthand function to call all score getters below.
    // It combines strings to compose the name of the function.
    // also accepts "Contender", "Best", "Average", "Own" as user
    // type is "risk" or "cost"
    function getScore(user, type) {
        switch (user) {
            case "Best":
            case "Contender":
            case "Own":
            case "Average":
                call = "get" + user + capitalise(type); // user is already capitalized
                break;
            default:
                call = "getOwn" + capitalise(type);
        }
        fn = window[call];
//        console.log("user " + user + ", ladder " + type + ", call " + call + ", value " + fn()["value"]);
        return fn();
    }

    // These values are set server-side and appear to client as hardcoded.
    function getOwnRisk() {
        return {"value": $y_risk, "rank": $y_risk_rank, "when": "$y_risk_when"};
    }
    function getOwnCost() {
        return {"value": $y_pc, "rank": $y_pc_rank, "when": "$y_pc_when"};
    }
    function getContenderRisk() {
        return {"value": $c_risk, "rank": $c_risk_rank, "when": "$c_risk_when"};
    }
    function getContenderCost() {
        return {"value": $c_pc, "rank": $c_pc_rank, "when": "$c_pc_when"};
    }
    function getBestRisk() {
        return {"value": $b_risk, "rank": 1, "when": "$b_risk_when"};
    }
    function getBestCost() {
        return {"value": $b_pc, "rank": 1, "when": "$b_pc_when"};
    }
    function getAverageRisk() {
        return {"value": $avg_risk, "rank": "", "when": ""};
    }
    function getAverageCost() {
        return {"value": $avg_pc, "rank": "", "when": ""};
    }

</script>
