$def with (userid, lowest_risk, lowest_prod_cost, prob, impact, cost)
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Scores</title>
<!--[if IE]>
    <script src=""></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"> <!-- relative path to external files -->
</head>
<body>
$var title: Scores
$var cssfiles: static/css/bootstrap.css


			<h1>Scores</h1>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4"></div>
			<div class="span3">score:</div>
			<div class="span3">when achieved:</div>
			<div class="span2">ranking:</div>
			</h5>
			</div>
			
			<div class="span11"><h3>Your best score:</h3></div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">lowest risk:</div>
			<div class="span3">v</div>
			<div class="span3">v</div>
			<div class="span2">v</div>
			</h5>
			</div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">lowest productivity cost:</div>
			<div class="span3">v</div>
			<div class="span3">v</div>
			<div class="span2">v</div>
			</h5>
			</div>
			
			<div class="span11"><h3>Closets competitor:</h3></div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">lowest risk:</div>
			<div class="span3">v</div>
			<div class="span3">v</div>
			<div class="span2">v</div>
			</h5>
			</div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">lowest productivity cost:</div>
			<div class="span3">v</div>
			<div class="span3">v</div>
			<div class="span2">v</div>
			</h5>
			</div>
			
			<div class="span11"><h3>Overall best score:</h3></div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">lowest risk:</div>
			<div class="span3">v</div>
			</h5>
			</div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">lowest productivity cost:</div>
			<div class="span3">v</div>
			</h5>
			</div>
			
			<div class="span11"><h3>Overall average score:</h3></div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">average risk:</div>
			<div class="span3">v</div>
			</h5>
			</div>
			
			<div class="span11 text-center">
			<h5>
			<div class="span4 text-left">average productivity cost:</div>
			<div class="span3">v</div>
			</h5>
			</div>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
jQuery(document).ready(function() {
        jQuery("#prob").text($:prob);
        jQuery("#impact").text($:impact);
        jQuery("#cost").text($:cost);
});

</script>
</body>

</html>

