$def with (content)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>$content.title</title>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="$path/static/css/bootstrap_override.css" type="text/css" media="screen" charset="utf-8"/>
    $if content.has_key('cssfiles'):
        $for css in content.cssfiles.split():
            <link rel="stylesheet" href="$css" type="text/css" media="screen" charset="utf-8"/>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    $if content.has_key('prejs'):
        $for js in content.prejs.split():
            <script src="$js"></script>
</head>
<body style="background-color: #F2F2F2">
<header>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="link"><a href="/">sprks</a></div>
            <div class="link logout" class="text-right" id="logout">
                $if user_id() > 0:
                    <a href="password">Change Password</a> | </a><a href="$path/login?action=logout">Logout $username()</a>
                $else:
                    <a href="login">Login</a>
            </div>
        </div>
    </div>
</div>
</header>

$if user_id() > 0:
    <div class="menu">
        <!-- these paths need to be absolute, because password policy is not in the same (appearance) directory as others -->
        <div class="story"><a href="$path/intro">Story </a></div>
        <div class="policy"><a href="$path/policy/password">Policy</a></div>
        <div class="profile"><a href="$path/history">Profile</a></div>
        <div class="score"><a href="$path/score">Scores</a></div>
        <div class="incident"><a href="$path/incident">Incident</a></div>
    </div>

    <div class="risk-menu">
        <ul>
                <li class="risk_menu-title-risk">Risk:<br/><span class="score-value" id="risk"></span></li>
                <li class="risk_menu-title-cost">Cost:<br/><span class="score-value" id="cost"></span> </li>
        </ul>
    </div>

    <div class="policy-summary">
        <h4>Policy summary</h4>
        <h5>
        <div class="policy-summary-field" id="sum-plen"></div>
        <div class="policy-summary-field" id="sum-psets"></div>
        <div class="policy-summary-field" id="sum-pdict"></div>
        <div class="policy-summary-field" id="sum-phist"></div>
        <div class="policy-summary-field" id="sum-prenew"></div>
        <div class="policy-summary-field" id="sum-pattempts"></div>
        <div class="policy-summary-field" id="sum-precovery"></div>
        </h5>
    </div>
    <div class="time_controls">
        <ul>
            <h4><div id="curr_date"></div></h4>
            <li><a href="#" class="icon-play icon-large" id="play"></a></li>
            <li class="active"><a href="#" class="icon-pause icon-large" id="pause"></a></li>
            <li><a href="#" class="icon-forward" id="forward"></a></li>
        </ul>
    </div>

<article class="container-fluid">
    <div class="row-fluid">
        <div class="offset2 span8 main-body" style="background-color: #fff; padding: 2em; box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff; color: #847f7f">
            $:content
        </div>
    </div>
</article>

<footer>
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
                <h4 style="margin-left:220px;">Status bar: added value, notifications, etc.
                </h4>
            </div>
        </div>
    </div>
</footer>

$if content.has_key('postjs'):
    $for js in content.postjs.split():
        <script src="$js"></script>

<script src="$path/static/js/private_common.js"></script>
<script>
    // This is the common script for all registered user views.
    // JS is loaded from the above file.
    // If you want to use templates from webpy,
    // extract a method that grabs them here and call it from a script in the external JS file.
    // Variables from Python can be sent back as return values.

    $$(document).ready(initFrame);
    //    document.ready = initFrame(); // register callback to function from external JS file;

</script>

</body>
</html>