body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F2F2F2;
}

a:hover{
    cursor:pointer;
}

.bgmap{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/bgmap.png);
}
.navbar-inner {
    background-color: #C10000;
    background-image: -moz-linear-gradient(top, #C10000, #750000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C10000), to(#750000));
    background-image: -webkit-linear-gradient(top, #C10000, #750000);
    background-image: -o-linear-gradient(top, #C10000, #750000);
    background-image: linear-gradient(to bottom, #C10000, #750000);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C10000', endColorstr='#750000', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    min-height: 45px;
}

.span12 {
    background-color: #F2F2F2;
    padding: 15px;
    padding-left: 200px; /*if menu is used*/
    padding-right: 200px;
}

.span12.intro_container {
    display: block;
    background-color: #f9f9f9;
    color: #847f7f;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    width: auto;
    text-align: left;
    margin: 0 auto;
    padding: 30px;
    padding-left: 50px;
}

.main_btn a {
    position: absolute;
    display: block;
    margin: 10px;
    width: 210px;
    height: 40px;
    border-radius: 3%;
    line-height: 40px;
    font-size: 20px;
    background-color: #92000a;
    color: #f2ddc6;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.main_btn a:hover {
    text-decoration: none;
    background-color: #C10000;
    color: #fff;
    cursor: pointer;
}

#main-body {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2em;
    padding-bottom: 4em;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    color: #847f7f
}

label {
    display: block;
    margin-bottom: 5px;
}

label {
    display: inline;
    margin-bottom: 5px;

}

#curr_date {
    font-size: 14px;
}

.time_controls {
    width: 14%;
    position: fixed;
    right: 1%;
    top: 60px;
    z-index: 1030;

    list-style: none;
    text-align: center;

    margin-top: 15px;
    border: solid 1px #b0b0b0;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.time_controls ul {
    margin-left: -1%;
}

.time_controls li {
    position: relative;
    display: inline-block;

}

.time_controls a {
    display: block;
    background-color: #f9f9f9;
    color: #a7a7a7;
    margin: 0.9em;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    -webkit-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

.time_controls a:hover {
    cursor: pointer;
}

.icon-play {
    background-position: -255px -63px;
}

.icon-pause {
    background-position: -280px -63px;
}

.icon-forward {
    background-position: -352px -63px;
}

.time_controls a:hover {
    text-decoration: none;
    color: #555;
    background-color: #fff;
}

.active a {
    background-color: #99958c;
}

.active a:hover {
    background-color: #99958c;
}

.disabled_controls a{
    background-color: #e6e1cb;
}
.disabled_controls a:hover{
    background-color: #e6e1cb;
    cursor:default;
}

.score-value {
    font-size: x-large;
    font-weight: bolder;
}

.risk-menu {
    width: 15%;
    position: fixed;
    right: 0;
    left: 5px;
    bottom: 52px;
    z-index: 1030;
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: x-small;
}

.risk-menu ul {
    position: relative;
    display: block;
    background-color: #f9f9f9;
    color: #555;
    text-align: center;
    font-weight: normal;
    width: 100%;
    height: auto;
    line-height: 50px;
    border-radius: 3%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.risk-menu li {
    display: block;
    width: 100%;
    margin: 5px;
    margin-left: 0;
}

.risk_menu-title-risk {
    color: #c24642;
}

.risk_menu-title-cost {
    color: #499249;
}

.policy-summary {
    display: none;
    width: 14%;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    padding: 10px;
    position: fixed;
    right: 1%;
    bottom: 52px;
    z-index: 1030;
    margin-bottom: 10px;
    font-size: x-small;
}

.link {
    margin-right: 5px;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #e6e1cb;
    max-width: 300px;
    float: left;
}

.link:hover {
    color: #fff;
    cursor: pointer;
}

.link.usrname:hover {
    color: #e6e1cb;
    cursor: default;
}

.link a {
    color: #e6e1cb;
}

.link a:hover {
    text-decoration: none;
    color: #fff;
}

#login-links {
    float: right;
}

.loginbox {
    display: block;
    background-color: #f9f9f9;
    color: #847f7f;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    width: auto;
    max-width: 260px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
}

.login_btn {
    display: block;
    background-color: #f9f9f9;
    color: #847f7f;
    width: 80px;
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 20px;
    border-radius: 10%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.login_btn:hover {
    color: #555;
    background-color: #fff;
}

#menu {
    z-index:2000;
    position: fixed;
    left: 11px;
    top: 64px;
    width: 15%;
}

#menu a {
    position: relative;
    display: block;
    margin: 10px;
    width: 100%;
    height: 40px;
    border-radius: 3%;
    line-height: 40px;
    font-size: 20px;

    background-color: #f9f9f9;
    color: #555;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

#menu a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#menu a .score_page {
    display: none;
}

#menu a .incident_page {
    display: none;
}

/*SCORES*/
#accordion {
    margin: 20px 0 0;
}

#accordion h2 {
    background: #750000;
    color: white;
    cursor: pointer;
    font: 18px Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 4px 0;
    padding: 5px 7px 2px;
}

#accordion .content {
    padding-left: 15px;
    font-weight: bold;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #c5c5c5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#c5c5c5));
    background-image: -webkit-linear-gradient(top, #fff, #c5c5c5);
    background-image: -o-linear-gradient(top, #fff, #c5c5c5);
    background-image: linear-gradient(to bottom, #fff, #c5c5c5);
    background-repeat: repeat-x;
}

#accordion .content p {
    margin: 0.5em 0;
    padding: 0 6px 8px 6px;
}

.rank {
    position: relative;
    height: 300px;
    bottom: 10px;
}

.ranking {
    position: absolute;
    bottom: 0;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    float: left;
    width: 33.1%;
}

.second {
    left: 0;
    background-color: #c0c0c0;
    background-image: -moz-linear-gradient(top, #c0c0c0, #505050);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0c0c0), to(#505050));
    background-image: -webkit-linear-gradient(top, #c0c0c0, #505050);
    background-image: -o-linear-gradient(top, #c0c0c0, #505050);
    background-image: linear-gradient(to bottom, #c0c0c0, #505050);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;

}

.first {
    left: 33.35%;
    background-color: #ffcc00;
    background-image: -moz-linear-gradient(top, #ffcc00, #b8860b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc00), to(#b8860b));
    background-image: -webkit-linear-gradient(top, #ffcc00, #b8860b);
    background-image: -o-linear-gradient(top, #ffcc00, #b8860b);
    background-image: linear-gradient(to bottom, #ffcc00, #b8860b);
    background-repeat: repeat-x;
    border: 1px solid #ffba00;

}

.third {
    right: 0;
    background-color: #cc7722;
    background-image: -moz-linear-gradient(top, #cc7722, #8e5702);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc7722), to(#8e5702));
    background-image: -webkit-linear-gradient(top, #cc7722, #8e5702);
    background-image: -o-linear-gradient(top, #cc7722, #8e5702);
    background-image: linear-gradient(to bottom, #cc7722, #8e5702);
    background-repeat: repeat-x;
    border: 1px solid #d28955;

}

.scr {

    position: absolute;
    width: 100%;
    margin-top: -2.8em;
    color: #000;
    text-shadow: 1.5px -1.5px 0.9px #666666;
    font-size: 18px;
    font-weight: bold;
}

.large-score {
    font-size: 22px;
}

.scr span {
    margin: 1%;
}

.rnk {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #faf0e6;
    text-shadow: 2px 2px 5px #4c3c18;
    font-size: 30px;
    font-weight: bold;
}

.when {
    width: 100%;
    position: absolute;
    bottom: -20px;
    color: #000;
    text-shadow: 1px -1px 1px #847e72;
    font-size: 16px;
    font-weight: bold;
}

.avg {
    color: #000;
    text-shadow: 1px -1px #847e72;
    font-size: 18px;
    font-weight: bold;
}

/* Characters (interviewees)
** Speech Bubbles with stories (quotes)
** Employee's name, position, type (profile)
------------------------------------------ */
.interviewee {
    z-index: 0;
    position: fixed;
    bottom: 75px;
    min-height: 100px;
    min-width: 40px;
    height: 10%;
    width: 5%;
    padding: 5px;
    float: right;

    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom;

    font-weight: bold;
    text-align: center;
    color: #505050;
    cursor: pointer;
}

.interviewee:hover {
    color: #000;
}

#interviewee1 {
    /*Andrew*/
    left: 40%;
    right: 55%;
    bottom: 53%;
    background-image: url(../img/executives.png);
}

#interviewee2 {
    /*Kevin*/
    left: 47.5%;
    right: 47.5%;
    bottom: 53%;
    background-image: url(../img/road.png);
}

#interviewee3 {
    /*Iza*/
    left: 55%;
    right: 40%;
    bottom: 53%;
    background-image: url(../img/desk.png);
}
#interviewee4 {
    /*Susie*/
    left: 36%;
    right: 59%;
    bottom: 63%;
    background-image: url(../img/executives.png);
}

#interviewee5 {
    /**/
    left: 43.5%;
    right: 43.5%;
    bottom: 63%;
    background-image: url(../img/road.png);
}

#interviewee6 {
    /**/
    left: 51%;
    right: 44%;
    bottom: 63%;
    background-image: url(../img/desk.png);
}
#interviewee7 {
    /*Andrew*/
    left: 40%;
    right: 55%;
    bottom: 73%;
    background-image: url(../img/executives.png);
}

#interviewee8 {
    /*Kevin*/
    left: 47.5%;
    right: 47.5%;
    bottom: 73%;
    background-image: url(../img/road.png);
}

#interviewee9 {
    /*Iza*/
    left: 55%;
    right: 40%;
    bottom: 73%;
    background-image: url(../img/desk.png);
}
.quote {
    z-index: 2001;
    display: block;
    border-radius: 10%;
    min-width: 28%;
    padding: 15px;
    position: fixed;
    bottom: 73%;
    top: 60px;
    left: 35%;
    right: 35%;
    float: left;
    overflow: auto;
    color: #0e0e0e;
    background-color: rgba(250, 250, 250, 0.9);
    border: 1px solid #d4d4d4;
    box-shadow: 0px 1px 8px #ccc, inset 0px 2px 3px #fff;
}

.profile {
    font-weight: bold;
    font-size: 16px;
}

#quote1 {
    left: 27.5%;
    right: 67.5%;

}

#quote2 {
    left: 35%;
    right: 60%;

}

#quote3 {
    left: 41.5%;
    right: 53.5%;

}
#quote4 {
    left: 26.5%;
    right: 68.5%;

}

#quote5 {
    left: 34%;
    right: 61%;

}

#quote6 {
    left: 42.5%;
    right: 52.5%;

}

/*PROFILE page*/
/*Graph*******/
#chartContainer {
    height: 360px;
    width: 100%;
}

/*Table*****/
#profile_table {
    overflow:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_table {

    font: 14px;
    width: 100%;
    text-align: left;
}

.profileTr {
    border: 1px solid #d2d2d2;
}

.profileTd {
    padding: 0.5%;
    padding-left: 0.5%;
    width: 4%;
}

.profileTd_date {
    vertical-align: top;
    width: 10%;
    padding: 0.5%;
    padding-left: 0.5%;
}

.profileTh {
    min-width:50px;
    vertical-align: top;
    font-weight: bold;
}
/*PWPOLICY page***/
/***graphs*/
.graph {
    float: left;
    width: 30%;
    height: 150px;
    /*height: 190px;*/
    /*margin: 5px;*/
}

.qn {
    float: left;
    width: 65%;
/*    height: 150px;*/
    text-align: left;
}

/*******SCORE page: congratulations popup */
#congratulate {
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 45%;
    box-shadow: 0px 3px 20px #aaa, inset 0px 2px 3px #fff;

    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 17px;
    padding: 12px;
    color: #000;

    background-size: 100%;
    background-image: url(/static/img/trophy-cup.jpg);
    background-repeat: no-repeat;
    /*
    image source:
    http://www.psdgraphics.com/3d/gold-trophy-cup/
    */
}

/*AUTENTICATION mechanisms*/
#aut_num {
    width: 15%;
}

.aut {
    display: inline-block;
}

.policy {
    display: none;
}

#biometric {
    width: 25%;
}

.company {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 2%;
    float: left;
}

/* The apply button in the policy page */
#apply {
    display: inline-block;
    width: 20%;
    height: 40px;
    margin: 1%;
    margin-left: 0;
    margin-right: 80%;
}

/*********SPA********************************************************/

.active-page-link {
    background-color: #C10000 !important;
    color: #fff !important;
    cursor: default !important;
}

#close_btn {
    float: right;
    display: block;
    background-color: #750000;
    color: #a7a7a7;
    margin: 0.9em;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 1px 8px #aaa, inset 1px 1px 3px #C10000;
}

#close_btn:hover {
    cursor: pointer;
    background-color: #950000;
    box-shadow: 0px 1px 8px #aaa, inset 1px 1px 3px #C23456;
}

#background_map {
}

.device_img {
    display: block;
    position: relative;
    left: 0em;
    top: 1.5em;
    height: 2em;
    width: 2em;
}

.toast-message {
    right: 12px;
    bottom: 12px;
}

.policy-summary {
    top: 200px;
    right:2.5%;
    left:85%;
    width:12.5%;
    position: fixed;
    overflow: auto;
}

.policy-summary-field {
    font-size: 14px;
}
.sum-biometric,
.sum-passfaces,
.sum-pwpolicy{
    display:none;
}

/* D3 style start */
   path {
        stroke-width: 2;
        fill: none;
   }

   .highlight {
/*    fill: #99958c;*/
/*       fill: #a7a7a7;*/
       fill: lightgrey;
       display: inline;
   }

   .buttons {
       display: none;
   }

   .risk-line {
        stroke: red;
   }

   .cost-line {
        stroke: green;
   }

   .risk-node {
        fill: #c24642;
        cursor: pointer;
   }

   .cost-node {
        fill: #499249;
        cursor: pointer;
   }

   line {
        stroke: black;
        stroke-width: 1;
   }

   text {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
        font-size: 10pt;
   }

   .option {
        cursor: pointer;
   }

   .xTicks {
        stroke: lightgrey;
   }
/*
   #myChart {
        width: 400px;
        height: 200px;
   }
*/
/* D3 style end */


/* Report page
---------------------------*/

/* CSS for scales for impact,
** total risk&total cost
** (modifiers ranges, mr's)
*/
.modifiers_range{
    margin:3.1px;
    height:16px;
}
.m_risk{
    background: -webkit-gradient(linear, left top, right top, from(#9d0d09), to(#ffdab9));
    background: -webkit-linear-gradient(left, #ffdab9, #9d0d09);
}
.m_cost{
    background: -webkit-gradient(linear, left top, right top, from(#cef592), to(#d0f0c0));
    background: -webkit-linear-gradient(left, #cef592, #013220);
}
.modifiers_total{
    margin:3.1px;
    height:40px;
}
.mr_10{
    width:80%;
}
.mr_9{
    width:72%;
}
.mr_8{
    width:64%;
}
.mr_7{
    width:56%;
}
.mr_6{
    width:48%;
}
.mr_5{
    width:40%;
}
.mr_4{
    width:32%;
}
.mr_3{
    width:24%;
}
.mr_2{
    width:16%;
}
.mr_1{
    width:8%;
}
.mr_0{
    width:1%;
}
.scale_container{
    display:block;
    margin-top:10%;
    height:40px;
}
.scale_label{
    float:left;
    width:20%;
    text-align:left;
    margin-bottom:-5%;
    /* Rotate div */
    transform:rotate(310deg);
    -ms-transform:rotate(310deg); /* IE 9 */
    -webkit-transform:rotate(310deg); /* Opera, Chrome, and Safari */
}
.scale{
    float:left;
    width:20%;
    text-align:left;
}
.total{
    width:16.5%;
}
/*Employees position name colour
 highlighting within the report*/
.executive{
    color:#9d0000;
}
.desk{
    color:#c99735;
}
.road{
    color:#5e5e5e;
}
/* Employees number box
-----------------------*/

.employees_num{
    width: 14%;
    position: fixed;
    right: 1%;
    top: 55px;
    z-index: 1030;
    text-align: center;
    font-weight:800;
    border: solid 1px #b0b0b0;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
