<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method="post" action="login">
<p>Id: <input type="text" name="id" />
<br>
plen: <input type="text" name="plen"/>
<br>
    psets: <input type="text" name="psets"/>
<br>
    pdict: <input type="text" name="pdict"/>
<br>
    psim: <input type="text" name="psim"/>
<br>
    prenew: <input type="text" name="prenew"/>
<br>
    pattempts: <input type="text" name="pattempts"/>
<br>
    precovery: <input type="text" name="precovery"/>
<br>
<input type="submit" value="Go" /></p>
</form>
</body>
</html>