$def with(username)
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script>
        function validateForm()
        {
            x = document.forms["recoveryForm"]
            if(x["Password"].value==""||x["Password"]==null)
            {
                alert("Please enter password")
                return false
            }
            if(x["Password"].value!=x["RPassword"].value)
            {
                alert("Password fields are different")
                return false
            }
            return true
        }

    </script>
</head>
<body>
<header>
<div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
		</div>
      </div>
</div>
</header>
<div class="loginbox"><!-- start of main body-->


<form name="recoveryForm" action="/pwrecovery" method="POST" onsubmit="return validateForm()">
    <div>New Password: <input type="password" name="Password"></div>
    <div>Re Password: <input type="password" name="RPassword"></div>
    <input type="hidden" name="user" value="$username">
    <input class="login_btn" type="submit" value="Reset">
</form>

</div><!-- end of main body-->
<footer>
<div class="navbar  navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container-fluid">
		</div>
      </div>
</div>
</footer>
</body>
</html>