$def with (id, plen, psets, pdict, psim, prenew, pattempts, precovery)
<form method="post" action="login">
<p>Id: <input type="text" name="id" value="$id" />
<br>
plen: <input type="text" name="plen" value="$plen"/>
<br>
    psets: <input type="text" name="psets" value="$psets"/>
<br>
    pdict: <input type="text" name="pdict" value="$pdict"/>
<br>
    psim: <input type="text" name="psim" value="$psim"/>
<br>
    prenew: <input type="text" name="prenew" value="prenew"/>
<br>
    pattempts: <input type="text" name="pattempts" value="$pattempts"/>
<br>
    precovery: <input type="text" name="precovery" value="$precovery"/>
<br>
</form>